{# flask ajax example #}

{% extends "base.html" %}

{% block scripts %}

<style>


table#coordinates_table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

div.rot90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

div.rot180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
}

div.rot270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}



</style>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


  $(document).ready(function() {


    $("#dms2dec").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/api/v1/dms2dec",
      {
	dms: $('input[name="dms"]').val(),
      },

      function(data) {

	if ("error" in data) {

	  alert("Error: " + data.error);

	  $("#_dec").val("TBD");

	} else {

	  $("#_dec").val(data.dec);

	};

      });

      return false;

    }); {# end dms2dec click #}



    $("#dec2dms").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/api/v1/dec2dms",
      {
	dec: $('input[name="dec"]').val(),
      },

      function(data) {

	if ("error" in data) {

	  alert("Error: " + data.error);

	  $("#_dms").val("TBD");

	} else {

	  $("#_dms").val(data.dms);

	};

      });

      return false;

    }); {# end dec2dms click #}



  }); {# end ready method #}

</script>

{% endblock %}

{% block title %} Deg:Min:Sec to Decimal degree Transforms {% endblock %}

{% block content %}

<h1>Deg:Min:Sec (DMS) to Decimal transforms</h1>

<br>

<div>

  <p>
    This page transforms coordinates between
    degree/hour:minute:second notation to the decimal equivalent.
  </p>

</div>

<br>

<div class="resultbox">

  <table id="coordinates_table">


    <tr>

      <td align="center">
	<div class="rot180"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>

      <td> <button id="dms2dec">dms to dec</button> </td>

      <td align="center">
	<div class="rot270"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>

    </tr>

    <tr>

      <th align="center">Deg:Min:Sec</th>
      <td></td>
      <th align="center">Decimal Degrees</th>

    </tr>

    <tr>

      <td align="center"><input type="text" name="dms" id="_dms" value="0"></td>
      <td></td>
      <td align="center"><input type="text" name="dec" id="_dec" value="0"></td>

    </tr>

    <tr>

      <td align="center">
	<div class="rot90"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>


      <td> <button id="dec2dms">dec to dms</button> </td>

      <td align="center">
	<div><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>


    </tr>


  </table>

</div>


{% endblock %}
