{% extends "base.html" %}

{% block title %}Astronomical Algorithms Implemented{% endblock %}

{% block content %}


<h1>Astronomical Algorithms Implemented</h1>
<h2>in C++, Python</h2>
<h3>and JavaScript,</h3>
<h4>bash, googletest,</h4>
<h5>Dockerfile</h5>
<h6>html, css, svg ...</h6>

<br>

<div id="examples">

<h2>Contents</h2>

<br>

<table>

  <tr>
    Plot
  </tr>

  <tr>
    <td></td>

    <td>
      <a href="{{ url_for('home_blueprint.solar_azimuth_map') }}">Solar Azimuth Map</a>
    </td>

    <td>
      Maps the azimuth of the sun at the observer's location.
    </td>

  </tr>


  <tr>

    <td></td>

    <td>
      <a href="{{ url_for('home_blueprint.daily_solar_altitude_chart') }}">Daily Solar Altitude</a>
    </td>

    <td>
      Charts the altitude of the sun at the observer's location over a day.
    </td>

  </tr>


  <tr>

    <td>Transform</td>

  </tr>

  <tr>

    <td></td>

    <td>
      <a href="{{ url_for('home_blueprint.eqhz_transforms') }}">Equatorial - Horizontal</a>
    </td>

    <td>
      equatorial and horizontal coordinate systems.
    </td>

  </tr>

  <tr>

    <td></td>

    <td>
      <a href="{{ url_for('home_blueprint.dms_transforms') }}">DMS - decimal</a>
    </td>

    <td>
      deg:min:sec and decimal degrees notation.
    </td>

  </tr>

  <tr>
    <td>
      <a href="{{ url_for('home_blueprint.accuracy') }}">On Accuracy</a>
    </td>

  </tr>

</table>

</div>

<hr>

<h2>Introduction</h2>

<br>

<div id="intro" class="twocolumn">

This is my implementation of various astronomical algorithms, mostly
<a href="http://www.willbell.com/math/mc1.htm">Astronomical
Algorithms by Jean Meeus</a>, with parts found around the home and
across the internet.

For example, I use the geolocation capability of a web browser to
provide the observer's location to calculate the azimuth and altitude
of the sun at the current time.

To do this, I pulled together examples of design patterns I have
learned for how to combine C++, Python and JavaScript.

<p>

Access to the implementation here is through a
<a href="http://flask.pocoo.org/">flask server</a> running in a
<a href="https://www.docker.com/">docker container</a>
as a micro-service.

The server provides
an <a href="https://github.com/lrmcfarland/AAI/blob/master/www/api.py">AAI
API</a> to support various operations like transforming an
observer's <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">horizontal
coordinate system</a>
to <a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">an
  equatorial</a> one.

This is used to support this web page as well as data operations
for the <a href="https://db.starbug.com/">starbug database</a>
like standardizing input data.

<p>

<a href="http://www.starbug.com">-lrm</a>, <i>2019 Feb 16</i>

</div>

{% endblock %}
