{# AAI lunar altitude chart #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# -------------------- #}
    {# ----- init map ----- #}
    {# -------------------- #}


    {# ----- draw chart ----- #}


    google.charts.load('current', {'packages':['corechart']});

    function updateMoonChart(moon_position_data) {

	if (moon_position_data.errors.length > 0) {

	    $("#datetime").text("TBD");
	    $("#sun_rising").text("TBD");
	    $("#sun_transit").text("TBD");
	    $("#sun_setting").text("TBD");
	    $("#sun_azimuth").text("TBD");
	    $("#sun_altitude").text("TBD");

	    $("#moon_ec_longitude").text("TBD");
	    $("#moon_ec_latitude").text("TBD");

	    $("#moon_eq_ra").text("TBD");
	    $("#moon_eq_dec").text("TBD");

	    $("#moon_azimuth").text("TBD");
	    $("#moon_altitude").text("TBD");

	    $("#moon_rising").text("TBD");
	    $("#moon_transit").text("TBD");
	    $("#moon_setting").text("TBD");
	    $("#moon_azimuth").text("TBD");
	    $("#moon_altitude").text("TBD");

	    alert("Errors: " + moon_position_data.errors.join(", "));

	} else {

	    $("#datetime").text(moon_position_data.datetime);

	    $("#sun_ec_latitude").text(moon_position_data.sun_ec_latitude_dms);
	    $("#sun_ec_longitude").text(moon_position_data.sun_ec_longitude_dms);

	    $("#sun_eq_ra").text(moon_position_data.sun_eq_ra_dms);
	    $("#sun_eq_dec").text(moon_position_data.sun_eq_dec_dms);

	    $("#sun_altitude").text(moon_position_data.sun_altitude_dms);
	    $("#sun_azimuth").text(moon_position_data.sun_azimuth_dms);


	    $("#sun_rising").text(moon_position_data.sun_rising);
	    $("#sun_transit").text(moon_position_data.sun_transit);
	    $("#sun_setting").text(moon_position_data.sun_setting);
	    $("#sun_azimuth").text(moon_position_data.sun_marker_azimuth);
	    $("#sun_altitude").text(moon_position_data.sun_marker_altitude);



	    $("#moon_ec_latitude").text(moon_position_data.moon_ec_latitude_dms);
	    $("#moon_ec_longitude").text(moon_position_data.moon_ec_longitude_dms);

	    $("#moon_eq_ra").text(moon_position_data.moon_eq_ra_dms);
	    $("#moon_eq_dec").text(moon_position_data.moon_eq_dec_dms);

	    $("#moon_altitude").text(moon_position_data.moon_altitude_dms);
	    $("#moon_azimuth").text(moon_position_data.moon_azimuth_dms);

	    $("#moon_rising").text(moon_position_data.moon_rising);
	    $("#moon_transit").text(moon_position_data.moon_transit);
	    $("#moon_setting").text(moon_position_data.moon_setting);
	    $("#moon_azimuth").text(moon_position_data.moon_marker_azimuth);
	    $("#moon_altitude").text(moon_position_data.moon_marker_altitude);


	    {# observer #}
	    $('input[name="latitude"]').val(moon_position_data.latitude);
	    $('input[name="longitude"]').val(moon_position_data.longitude);


	    {# TODO meh! use regex #}
	    var a_datetime = moon_position_data.datetime.split('T');
	    var a_timeandzone = [a_datetime[1], 0];
	    var a_sign = '';

	    if (/-/.test(a_datetime[1])) {

		a_timeandzone = a_datetime[1].split('-');
		a_sign = '-';

	    } else if (/\+/.test(a_datetime[1])) {

		a_timeandzone = a_datetime[1].split('+');
		a_sign = '+';

	    } else {
		{# pass #}
	    }

	    $('input[name="date"]').val(a_datetime[0]);

	    $('input[name="time"]').val(a_timeandzone[0]);
	    $('input[name="timezone"]').val(a_sign + a_timeandzone[1]);

	    $('input[name="dst"]').removeAttr("checked");


	    drawMoonChart(moon_position_data);
	};

    }; {# end updateMoonChart(moon_position_data) #}


    function drawMoonChart(moon_position_data) {

	var daily_sun_path = {
	    name: 'Sun path',
	    x: moon_position_data.daily_sun_azimuth,
	    y: moon_position_data.daily_sun_altitude,
	    mode: 'line',
	    type: 'scatter',
	    line: {
		color: 'gold',
	    }
	};

	var current_sun_position = {
	    name: 'Sun position',
	    x: [moon_position_data.sun_azimuth],
	    y: [moon_position_data.sun_altitude],
	    mode: 'markers',
	    type: 'scatter',
	    marker: {
		color: 'gold',
		size: 25
	    }
	};


	var daily_moon_path = {
	    name: 'Moon path',
	    x: moon_position_data.daily_moon_azimuth,
	    y: moon_position_data.daily_moon_altitude,
	    mode: 'line',
	    type: 'scatter',
	    line: {
		color: 'silver',
	    }
	};

	var current_moon_position = {
	    name: 'Moon position',
	    x: [moon_position_data.moon_azimuth],
	    y: [moon_position_data.moon_altitude],
	    mode: 'markers',
	    type: 'scatter',
	    marker: {
		color: 'silver',
		size: 20
	    }
	};



	var data = [daily_sun_path, current_sun_position, daily_moon_path, current_moon_position];

	var layout = {
	    title:'Altitude vs Azimuth over one day',
	    xaxis: {
		title: {
		    text: 'Azimuth in degrees from true north'
		},
		range: [0, 360]
	    },
	    yaxis: {
		title: {
		    text: 'Altitude in degrees from the horizon'
		},
		range: [-100, 100]
	    }
	};


	Plotly.newPlot('altitudeVtime', data, layout);


    }; {# end drawMoonChart(moon_position_data) #}


    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

	{# ----- get data ----- #}

	$("#get_lunar_daily_altitude").click(function(e) {

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude",
		      {
			  latitude: $('input[name="latitude"]').val(),
			  longitude: $('input[name="longitude"]').val(),
			  date: $('input[name="date"]').val(),
			  time: $('input[name="time"]').val(),
			  timezone: $('input[name="timezone"]').val(),
			  dst: $("#_dst").is(':checked') {# jQuery selector #}

		      },
		      function(moon_position) {

			  updateMoonChart(moon_position);

		      }); {# end getJSON #}

	    return false;

	}); {# end get_lunar_daily_altitude click #}




    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %}Daily Lunar Altitude{% endblock %}

{% block content %}

<style>


.linechart {
    width: 800px;
    height: 400px;
}


button#get_lunar_daily_altitude {

    text-align: center;

    font-size: 100%;
    font-weight: bold;

    margin: 0 auto;
    display: block;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    color:red;
    background: silver;
}


</style>



<h1>Daily Lunar Altitude</h1>

<br>

<div class="twocolumn">

    This shows the
    moon's <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">altitude</a>
    over the current day starting at local midnight.

</div>

<br>

{% include "observer_location.html" %}

<br>

<button id="get_lunar_daily_altitude">get lunar altitude data</button>

<table>

  <tr>

    <td>
      <div id="altitudeVtime" class="linechart"></div>
    </td>


  </tr>

  <tr>
    <td colspan="2">

      <table id="results_table" align="center">

	<tr>
	  <th>Current Time</th>
	  <td id="datetime">TBD</td>
	  <td></td>
	  <td>ISO8601</td>
	</tr>

	<tr>
	  <td></td>
	  <th>Sun</th>
	  <th>Moon</th>
	  <td></td>
	</tr>


	<tr>
	  <th>Ecliptic Longitude</th>

	  <td id="sun_ec_longitude">TBD</td>
	  <td id="moon_ec_longitude">TBD</td>

	  <td>deg:min:sec</td>
	</tr>

	<tr>
	  <th>Ecliptic Latitude</th>

	  <td id="sun_ec_latitude">TBD</td>
	  <td id="moon_ec_latitude">TBD</td>

	  <td>deg:min:sec</td>
	</tr>


	<tr>
	  <th>Right Ascension</th>

	  <td id="sun_eq_ra">TBD</td>
	  <td id="moon_eq_ra">TBD</td>

	  <td>hr:min:sec</td>
	</tr>


	<tr>
	  <th>Declination</th>

	  <td id="sun_eq_dec">TBD</td>
	  <td id="moon_eq_dec">TBD</td>

	  <td>deg:min:sec</td>

	</tr>

	<tr>
	  <th>Azimuth</th>

	  <td id="sun_azimuth">TBD</td>
	  <td id="moon_azimuth">TBD</td>

	  <td>deg:min:sec</td>
	</tr>

	<tr>
	  <th>Altitude</th>

	  <td id="sun_altitude">TBD</td>
	  <td id="moon_altitude">TBD</td>

	  <td>deg:min:sec</td>
	</tr>

	<tr>
	  <th>Rising</th>

	  <td id="sun_rising">TBD</td>
	  <td id="moon_rising">TBD</td>

	  <td>local time</td>
	</tr>


	<tr>
	  <th>Transit</th>

	  <td id="sun_transit">TBD</td>
	  <td id="moon_transit">TBD</td>

	  <td>local time</td>
	</tr>

	<tr>
	  <th>Setting</th>

	  <td id="sun_setting">TBD</td>
	  <td id="moon_setting">TBD</td>

	  <td>local time</td>
	</tr>


      </table>

    </td>
  </tr>

</table>

{% endblock %}
