{# AAI lunar altitude chart #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# -------------------- #}
    {# ----- init map ----- #}
    {# -------------------- #}

    {# ----- draw chart ----- #}

    function updateMoonChart(moon_position_data) {

	if (moon_position_data.errors.length > 0) {

	    $("#datetime").text("TBD");

	    $("#sun_ec_longitude").text("TBD");
	    $("#sun_ec_latitude").text("TBD");

	    $("#sun_eq_ra").text("TBD");
	    $("#sun_eq_dec").text("TBD");

	    $("#sun_azimuth").text("TBD");
	    $("#sun_altitude").text("TBD");

	    $("#sun_rising").text("TBD");
	    $("#sun_transit").text("TBD");
	    $("#sun_setting").text("TBD");
	    $("#sun_range").text("TBD");

	    $("#moon_ec_longitude").text("TBD");
	    $("#moon_ec_latitude").text("TBD");

	    $("#moon_eq_ra").text("TBD");
	    $("#moon_eq_dec").text("TBD");

	    $("#moon_azimuth").text("TBD");
	    $("#moon_altitude").text("TBD");

	    $("#moon_rising").text("TBD");
	    $("#moon_transit").text("TBD");
	    $("#moon_setting").text("TBD");
	    $("#moon_range").text("TBD");


	    alert("Errors: " + moon_position_data.errors.join(", "));

	} else {

	    $("#datetime").text(moon_position_data.datetime);

	    {# ----- Sun ----- #}

	    $("#sun_range").text(moon_position_data.sun_range);
	    $("#sun_ec_latitude").text(moon_position_data.sun_ec_latitude_dms);
	    $("#sun_ec_longitude").text(moon_position_data.sun_ec_longitude_dms);

	    $("#sun_eq_ra").text(moon_position_data.sun_eq_ra_dms);
	    $("#sun_eq_dec").text(moon_position_data.sun_eq_dec_dms);

	    $("#sun_altitude").text(moon_position_data.sun_altitude_dms);
	    $("#sun_azimuth").text(moon_position_data.sun_azimuth_dms);


	    {# adjust for DST #}

	    let sun_rising_datetime = {date_str: $('input[name="date"]').val(),
				       time_str: moon_position_data.sun_rising,
				       timezone_str: $('input[name="timezone"]').val()};

	    let sun_transit_datetime = {date_str: $('input[name="date"]').val(),
					time_str: moon_position_data.sun_transit,
					timezone_str: $('input[name="timezone"]').val()};

	    let sun_setting_datetime = {date_str: $('input[name="date"]').val(),
					time_str: moon_position_data.sun_setting,
					timezone_str: $('input[name="timezone"]').val()};


	    if ($("#_dst").is(':checked')) {

		sun_rising_datetime = aai.ST2DST(sun_rising_datetime.date_str, sun_rising_datetime.time_str, sun_rising_datetime.timezone_str);
		sun_transit_datetime = aai.ST2DST(sun_transit_datetime.date_str, sun_transit_datetime.time_str, sun_transit_datetime.timezone_str);
		sun_setting_datetime = aai.ST2DST(sun_setting_datetime.date_str, sun_setting_datetime.time_str, sun_setting_datetime.timezone_str);

		$("#rising_dst").text('DST');
		$("#transit_dst").text('DST');
		$("#setting_dst").text('DST');

	    } else {

		$("#rising_dst").text('ST');
		$("#transit_dst").text('ST');
		$("#setting_dst").text('ST');

	    };

	    $("#sun_rising").text(sun_rising_datetime.time_str);
	    $("#sun_transit").text(sun_transit_datetime.time_str);
	    $("#sun_setting").text(sun_setting_datetime.time_str);


	    {# ----- Moon ----- #}


	    $("#moon_range").text(moon_position_data.moon_range);
	    $("#moon_ec_latitude").text(moon_position_data.moon_ec_latitude_dms);
	    $("#moon_ec_longitude").text(moon_position_data.moon_ec_longitude_dms);

	    $("#moon_eq_ra").text(moon_position_data.moon_eq_ra_dms);
	    $("#moon_eq_dec").text(moon_position_data.moon_eq_dec_dms);

	    $("#moon_altitude").text(moon_position_data.moon_altitude_dms);
	    $("#moon_azimuth").text(moon_position_data.moon_azimuth_dms);

	    {# adjust for DST #}

	    let moon_rising_datetime = {date_str: $('input[name="date"]').val(),
				       time_str: moon_position_data.moon_rising,
				       timezone_str: $('input[name="timezone"]').val()};

	    let moon_transit_datetime = {date_str: $('input[name="date"]').val(),
					time_str: moon_position_data.moon_transit,
					timezone_str: $('input[name="timezone"]').val()};

	    let moon_setting_datetime = {date_str: $('input[name="date"]').val(),
					time_str: moon_position_data.moon_setting,
					timezone_str: $('input[name="timezone"]').val()};


	    if ($("#_dst").is(':checked')) {

		moon_rising_datetime = aai.ST2DST(moon_rising_datetime.date_str, moon_rising_datetime.time_str, moon_rising_datetime.timezone_str);
		moon_transit_datetime = aai.ST2DST(moon_transit_datetime.date_str, moon_transit_datetime.time_str, moon_transit_datetime.timezone_str);
		moon_setting_datetime = aai.ST2DST(moon_setting_datetime.date_str, moon_setting_datetime.time_str, moon_setting_datetime.timezone_str);

		$("#rising_dst").text('DST');
		$("#transit_dst").text('DST');
		$("#setting_dst").text('DST');

	    } else {

		$("#rising_dst").text('ST');
		$("#transit_dst").text('ST');
		$("#setting_dst").text('ST');

	    };

	    $("#moon_rising").text(moon_rising_datetime.time_str);
	    $("#moon_transit").text(moon_transit_datetime.time_str);
	    $("#moon_setting").text(moon_setting_datetime.time_str);

	    drawMoonChart(moon_position_data);
	};

    }; {# end updateMoonChart(moon_position_data) #}


    function drawMoonChart(moon_position_data) {

	var daily_sun_path = {
	    name: 'Sun path',
	    x: moon_position_data.daily_sun_azimuth,
	    y: moon_position_data.daily_sun_altitude,
	    mode: 'line',
	    type: 'scatter',
	    line: {
		color: 'gold',
	    }
	};

	var current_sun_position = {
	    name: 'Sun position',
	    x: [moon_position_data.sun_azimuth],
	    y: [moon_position_data.sun_altitude],
	    mode: 'markers',
	    type: 'scatter',
	    marker: {
		color: 'gold',
		size: 25
	    }
	};


	var daily_moon_path = {
	    name: 'Moon path',
	    x: moon_position_data.daily_moon_azimuth,
	    y: moon_position_data.daily_moon_altitude,
	    mode: 'line',
	    type: 'scatter',
	    line: {
		color: 'silver',
	    }
	};

	var current_moon_position = {
	    name: 'Moon position',
	    x: [moon_position_data.moon_azimuth],
	    y: [moon_position_data.moon_altitude],
	    mode: 'markers',
	    type: 'scatter',
	    marker: {
		color: 'silver',
		size: 20
	    }
	};



	var data = [current_sun_position, daily_sun_path, current_moon_position, daily_moon_path];

	var layout = {
	    title:'Altitude vs. Azimuth: ' + moon_position_data.datetime,
	    xaxis: {
		title: {
		    text: 'Azimuth in degrees from true north'
		},
		range: [0, 360]
	    },
	    yaxis: {
		title: {
		    text: 'Altitude in degrees from the horizon'
		},
		range: [-100, 100]
	    }
	};


	Plotly.newPlot('altitudeVtime', data, layout);


    }; {# end drawMoonChart(moon_position_data) #}


    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

	{# ------------------------- #}
	{# ----- time controls ----- #}
	{# ------------------------- #}


	$("#get_current_time").click(function(e) {

	    try {
		var current_time = aai.standardTime($('input[name="date"]').val(),
						    $('input[name="time"]').val(),
						    $('input[name="timezone"]').val(),
						    $("#_dst").is(':checked'));
	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: current_time.date_str,
		time: current_time.time_str,
		timezone: current_time.timezone_str

	     }, function(moon_position) {

		 updateMoonChart(moon_position);

	     }); {# end getJSON #}


	}); {# end get_current_time click #}


	$("#get_next_hour").click(function(e) {


	    try {

		var standard_time_nh = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var next_hour = aai.changeTime(standard_time_nh.date_str,
					       standard_time_nh.time_str,
					       standard_time_nh.timezone_str,
					       60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_nh = aai.ST2DST(next_hour.date_str,
					    next_hour.time_str,
					    next_hour.timezone_str);

		    $('input[name="date"]').val(dst_nh.date_str);
		    $('input[name="time"]').val(dst_nh.time_str);


		} else {

		    $('input[name="date"]').val(next_hour.date_str);
		    $('input[name="time"]').val(next_hour.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end get_next_hour click #}


	$("#get_next_day").click(function(e) {

	    try {


		var standard_time_nd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var next_day = aai.changeTime(standard_time_nd.date_str,
					      standard_time_nd.time_str,
					      standard_time_nd.timezone_str,
					      24*60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_nd = aai.ST2DST(next_day.date_str,
					    next_day.time_str,
					    next_day.timezone_str);

		    $('input[name="date"]').val(dst_nd.date_str);
		    $('input[name="time"]').val(dst_nd.time_str);


		} else {

		    $('input[name="date"]').val(next_day.date_str);
		    $('input[name="time"]').val(next_day.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end get_next_day click #}


	$("#get_prev_hour").click(function(e) {


	    try {


		var standard_time_ph = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var prev_hour = aai.changeTime(standard_time_ph.date_str,
					       standard_time_ph.time_str,
					       standard_time_ph.timezone_str,
					       -60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_ph = aai.ST2DST(prev_hour.date_str,
					    prev_hour.time_str,
					    prev_hour.timezone_str);

		    $('input[name="date"]').val(dst_ph.date_str);
		    $('input[name="time"]').val(dst_ph.time_str);


		} else {

		    $('input[name="date"]').val(prev_hour.date_str);
		    $('input[name="time"]').val(prev_hour.time_str);

		}


	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end get_prev_hour click #}


	$("#get_prev_day").click(function(e) {


	    try {


		var standard_time_pd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var prev_day = aai.changeTime(standard_time_pd.date_str,
					      standard_time_pd.time_str,
					      standard_time_pd.timezone_str,
					      -24*60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_pd = aai.ST2DST(prev_day.date_str,
					    prev_day.time_str,
					    prev_day.timezone_str);

		    $('input[name="date"]').val(dst_pd.date_str);
		    $('input[name="time"]').val(dst_pd.time_str);


		} else {

		    $('input[name="date"]').val(prev_day.date_str);
		    $('input[name="time"]').val(prev_day.time_str);

		}


	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end get_prev_day click #}


	{# ------------------- #}
	{# ----- presets ----- #}
	{# ------------------- #}


	$("#eclipse_2017_aug_21").click(function(e) {


	    try {

		$('input[name="latitude"]').val('37:24:01');
		$('input[name="longitude"]').val('-122:04:56');

		$('input[name="date"]').val('2017-08-21');
		$('input[name="time"]').val('09:00');
		$('input[name="timezone"]').val('-08:00');
		$('input[name="dst"]').prop('checked', true);

		var standard_time = aai.standardTime($('input[name="date"]').val(),
						     $('input[name="time"]').val(),
						     $('input[name="timezone"]').val(),
						     $("#_dst").is(':checked'));

	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end eclipse_2017_aug_21 click #}


	$("#eclipse_2019_dec_26_Lat24").click(function(e) {


	    try {

		$('input[name="latitude"]').val('24');
		$('input[name="longitude"]').val('102');

		$('input[name="date"]').val('2019-12-26');
		$('input[name="time"]').val('12:00');
		$('input[name="timezone"]').val('+07:00');
		$('input[name="dst"]').prop('checked', false);

		var standard_time = aai.standardTime($('input[name="date"]').val(),
						     $('input[name="time"]').val(),
						     $('input[name="timezone"]').val(),
						     $("#_dst").is(':checked'));
	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end eclipse_2019_dec_26_Lat24 click #}


	$("#eclipse_2019_dec_26_Lat20").click(function(e) {


	    try {

		$('input[name="latitude"]').val('20');
		$('input[name="longitude"]').val('102');

		$('input[name="date"]').val('2019-12-26');
		$('input[name="time"]').val('12:00');
		$('input[name="timezone"]').val('+07:00');
		$('input[name="dst"]').prop('checked', false);

		var standard_time = aai.standardTime($('input[name="date"]').val(),
						     $('input[name="time"]').val(),
						     $('input[name="timezone"]').val(),
						     $("#_dst").is(':checked'));

	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/lunar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(moon_position) {

		updateMoonChart(moon_position);

	    }); {# end getJSON #}


	}); {# end eclipse_2019_dec_26_Lat20 click #}


    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %}Daily Lunar Altitude{% endblock %}

{% block content %}

<style>

.linechart {
    width: 800px;
    height: 400px;
}

</style>



<h1>Daily Sun and Moon Paths</h1>

<br>

<div class="twocolumn">

    This page shows the paths of the sun and moon as a plot
    of <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">azimuth
    vs. altitude</a> over a day starting at local midnight.

    This uses
    Jean Meeus' simplified algorithm for the moon position.
    estimates accuracy at 10&deg; arc-seconds in longitude and 4&deg;
    arc-seconds in latitude.

    All implementation mistakes are mine.

  <p>
    I get good results for an eclipse I
    observed on <button id="eclipse_2017_aug_21">Aug 21, 2017</button>.

    I have been trying some of the ones I find on <a href="">the List
    of solar eclipses in the 21st century</a> I found have a
    problem with latitudes near the Earth's axial tilt.

    On solar eclipse for Dec 26, 2019, for example,
    the path plot starts to distort from
    <button id="eclipse_2019_dec_26_Lat24">24&deg;</button>
    to <button id="eclipse_2019_dec_26_Lat20">20&deg;</button> and
    lower.


</div>

<br>

{% include "observer_location.html" %}

<br>

<div id="altitudeVtime" class="linechart"></div>


<div class="result" align="center">


  <table id="results_table" class="result table">

    <tr>
      <td></td>
      <td></td>
      <th>Sun</th>
      <th>Moon</th>
      <td></td>
    </tr>


    <tr>
      <th></th>
      <th>Range</th>

      <td id="sun_range" align="right">TBD</td>
      <td id="moon_range" align="right">TBD</td>

      <td><i>light-seconds</i></td>
    </tr>

    <tr><td></td></tr>

    <tr class="result ecliptic">
      <th><a href="https://en.wikipedia.org/wiki/Ecliptic_coordinate_system">Ecliptic</a></th>
      <th>Longitude</th>

      <td class="result ecliptic entry" id="sun_ec_longitude" align="right">TBD</td>
      <td class="result ecliptic entry" id="moon_ec_longitude" align="right">TBD</td>

      <td><i>deg:min:sec</i></td>
    </tr>

    <tr class="result ecliptic">
      <th></th>
      <th>Latitude</th>

      <td class="result ecliptic entry" id="sun_ec_latitude" align="right">TBD</td>
      <td class="result ecliptic entry" id="moon_ec_latitude" align="right">TBD</td>

      <td><i>deg:min:sec</i></td>
    </tr>

    <tr><td></td></tr>

    <tr class="result equatorial">
      <th class="result"><a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">Equatorial</a></th>
      <th>Right Ascension</th>

      <td class="result equatorial entry" id="sun_eq_ra" align="right">TBD</td>
      <td class="result equatorial entry" id="moon_eq_ra" align="right">TBD</td>

      <td><i>hr:min:sec</i></td>
    </tr>


    <tr class="result equatorial">
      <th></th>
      <th>Declination</th>

      <td class="result equatorial entry" id="sun_eq_dec" align="right">TBD</td>
      <td class="result equatorial entry" id="moon_eq_dec" align="right">TBD</td>

      <td><i>deg:min:sec</i></td>

    </tr>

    <tr><td></td></tr>

    <tr class="result horizontal">
      <th><a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">Horizontal</a></th>
      <th>Azimuth</th>

      <td class="result horizontal entry" id="sun_azimuth" align="right">TBD</td>
      <td class="result horizontal entry" id="moon_azimuth" align="right">TBD</td>

      <td><i>deg:min:sec</i></td>
    </tr>

    <tr class="result horizontal">
      <th></th>
      <th>Altitude</th>

      <td class="result horizontal entry" id="sun_altitude" align="right">TBD</td>
      <td class="result horizontal entry" id="moon_altitude" align="right">TBD</td>

      <td><i>deg:min:sec</i></td>
    </tr>

    <tr><td></td></tr>

    <tr class="result rising">
      <th></th>
      <th>Rising</th>

      <td class="result rising entry" id="sun_rising" align="right">TBD</td>
      <td class="result rising entry" id="moon_rising" align="right">TBD</td>
      <td id="rising_dst">ST</td>
    </tr>


    <tr class="result rising">
      <th></th>
      <th>Transit</th>

      <td class="result rising entry" id="sun_transit" align="right">TBD</td>
      <td class="result rising entry" id="moon_transit" align="right">TBD</td>
      <td id="transit_dst">ST</td>

    </tr>

    <tr class="result rising">
      <th></th>
      <th>Setting</th>

      <td class="result rising entry" id="sun_setting" align="right">TBD</td>
      <td class="result rising entry" id="moon_setting" align="right">TBD</td>
      <td id="setting_dst">ST</td>

    </tr>

  </table>


</div>

{% endblock %}
