{# Observer Location input template #}

{% extends "base.html" %}

{% block scripts %}
  <script type="text/javascript">

    $(function() {

      $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });


      $("#set_location").click(function(e) {
        {# astronomy.js uses document.getElementById #}
        astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
      });


      $("#set_time").click(function(e) {
	var now = new Date();
	var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
	$("#_time").val(time_str);
      });


    });

  </script>
{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<h1>Flask Form Pattern</h1>

<p>
This is an example of a html form that takes the observer's location
on earth and returns a new page with the position of the sun.
</p>

<h2>Observer Location</h2>

<br>

<form action="{{ url_for('get_sun_position_form') }}">

  <table>

    <tr>

      <td>
	<button type="button" id="set_location">set location</button>
      </td>

      <th>Latitude</th>

      <td>
	<input type="text" id="_latitude" name="latitude">
      </td>

      <td>deg:min:sec</td>

    </tr>

    <tr>

      <td>
      </td>

      <th>Longitude</th>

      <td>
	<input type="text" id="_longitude" name="longitude">
      </td>

      <td>deg:min:sec</td>

    </tr>

    <tr>
      <td></td>

      <th>Date</th>

      <td>
	<input type="text" id="_date" name="date"> {# id needed for date picker, name for form #}
      </td>
      <td>year-mm-dd</td>
    </tr>

    <tr>

      <td>
	<button type="button" id="set_time">set time</button>
      </td>

      <th>Time</th>
      <td><input type="text" id="_time" name="time" value="12:00"></td>
      <td>hr:min:sec</td>
    </tr>

    <tr>
      <td></td>

      <th>Time Zone</th>
      <td>
	<input type="text" id="_timezone" name="timezone" value="0">
      </td>
      <td>hr</td>

    </tr>

    <tr>
      <td></td>
      <th>Daylight Savings</th>
      <td>
	<input type="checkbox" id="_dst" name="dst">
      </td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><input type="submit" value=SunPosition></td>
    </tr>

  </table>

</form>

<hr>

<p>
<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/observer_form.html">
This
</a>
is an example from the
<a href="http://flask.pocoo.org/docs/0.10/tutorial/templates/">flask tutorial</a>
using html forms.
</p>

<p>
Observer data are read from the input elements form on this page by
name and sent to the sun_position url as the submit action of the form
with this <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> code
</p>

<pre>

    &lt;form action="&#123;&#123; url_for('sun_position') &#125;&#125;"&gt;
...
    &lt;input type="text" id="_longitude" name="longitude"&gt;


</pre>

<p>
In the sun_position url on the
 <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/astronomy.py">astronomy.py</a>
side, the form data are accessed as key value pairs of strings.
The input is converted to numbers and used to calculate the results. These are
passed as keyword arguments to flask.render_template:
</p>

<pre>
@app.route("/get_sun_position_form")
def get_sun_position_form():
    """Get the sun position for the form example."""

    try:

        a_latitude_str = flask.request.args.get('latitude')
        a_longitude_str = flask.request.args.get('longitude')

        a_date_str = flask.request.args.get('date')
        a_time_str = flask.request.args.get('time')
        a_timezone_str = flask.request.args.get('timezone')

        # TODO meh
        if flask.request.args.get('dst') == 'on':
            a_dst_str = 'true'
        else:
            a_dst_str = 'false'


        result = calculate_sun_position(a_latitude_str,
                                        a_longitude_str,
                                        a_date_str,
                                        a_time_str,
                                        a_timezone_str,
                                        a_dst_str)

    except (ValueError, RuntimeError) as err:

        app.logger.error(err)
        flask.flash(err)
        return flask.render_template('flashes.html')

    return flask.render_template('sun_position_form.html', **result)

</pre>

<p>
Inside the template, these keyword arguments are accessable via Jinja2 macros
</p>

<pre>
      &lt;td&gt;Latitude&lt;/td&gt;&lt;td&gt; &#123;&#123; latitude &#125;&#125; &lt;/td&gt;&lt;td&gt;deg:min:sec&lt;/td&gt;
</pre>

<p>
And used this way to display the results on the

<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/sun_position.html">sun position page</a>.
</b>


{% endblock %}
