{# Observer Location input template #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {

      $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });

      $("#set_location").click(function(e) {
        {# astronomy.js uses document.getElementById #}
	astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
      });


      $("#set_time").click(function(e) {
        var now = new Date();
        var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        $("#_time").val(time_str);
      });


      $("#get_sun_position").click(function(e) {

	$.getJSON($SCRIPT_ROOT + "/get_sun_position_ajax",
	  {
	    latitude: $('input[name="latitude"]').val(),
	    longitude: $('input[name="longitude"]').val(),
	    date: $('input[name="date"]').val(),
	    time: $('input[name="time"]').val(),
	    timezone: $('input[name="timezone"]').val(),
	    dst: $("#_dst").is(':checked') {# jQuery selector #}

	  },
	  function(data) {
	    $("#rising").text(data.rising);
	    $("#transit").text(data.transit);
	    $("#setting").text(data.setting);
	    $("#azimuth").text(data.azimuth);
	    $("#altitude").text(data.altitude);

	  });

	return false;

      });


    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<h1>Flask AJAX and jQuery Pattern</h1>

<p>
This is an example of using AJAX and JSON to use the observer's
location to update the contents of the current page.
</p>


  <table>

    <tr>

      <th>
	<button type="button" id="set_location">set location</button>
      </th>

      <th>Latitude</th>

      <td>
	<input type="text" id="_latitude" name="latitude">
      </td>

      <td>deg:min:sec</td>

    </tr>


    <tr>
      <th></th>

      <th>Longitude</th>

      <td>
	<input type="text" id="_longitude" name="longitude">
      </td>

      <td>deg:min:sec</td>

    </tr>


    <tr>
      <td></td>

      <th>Date</th>

      <td>
        <input type="text" id="_date" name="date"> {# id needed for date picker, name for form #}
      </td>

      <td>year-mm-dd</td>

    </tr>

    <tr>

      <th>
	<button id="set_time">set time</button>
      </th>

      <th>Time</th>

      <td><input type="text" id="_time" name="time" value="12:00"></td>

      <td>hr(24):min:sec</td>

    </tr>

    <tr>
      <td></td>

      <th>Time Zone</th>
      <td><input type="text" id="_timezone" name="timezone" value="0"></td>
      <td>hr</td>
    </tr>


    <tr>
      <td></td>
      <th>Daylight Savings</th>
      <td>
	<input type="checkbox" id="_dst" name="dst">
      </td>
    </tr>


    <tr>

      <th>
	<button id="get_sun_position">get sun position</button>
      </th>


    </tr>

    <tr>
      <th>Azimuth</th>
      <td id="azimuth" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Altitude</th>
      <td id="altitude" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Rising</th>
      <td id="rising" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>


    <tr>
      <th>Transit</th>
      <td id="transit" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

    <tr>
      <th>Setting</th>
      <td id="setting" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

  </table>


<hr>


<p>

<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/observer_ajax.html">
This
</a>
is an example of the
<a href="http://flask.pocoo.org/docs/0.10/patterns/jquery/">flask
AJAX with jQuery pattern</a>.

</p>

<p>
Observer data are read from the observer's input elements by id and sent as a
JSON get query to the get_sun_position page on the server as a button click
event:
</p>

<pre>
     $("#get_sun_position").click(function(e) {

	$.getJSON($SCRIPT_ROOT + "/get_sun_position_ajax",
	  {
	    latitude: $('input[name="latitude"]').val(),
	    longitude: $('input[name="longitude"]').val(),
	    date: $('input[name="date"]').val(),
	    time: $('input[name="time"]').val(),
	    timezone: $('input[name="timezone"]').val(),
	    dst: $("#_dst").is(':checked') {# jQuery selector #}

	  },
	  function(data) {
	    $("#rising").text(data.rising);
	    $("#transit").text(data.transit);
	    $("#setting").text(data.setting);
	    $("#azimuth").text(data.azimuth);
	    $("#altitude").text(data.altitude);

	  });
</pre>

<p>
On the
 <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/astronomy.py">astronomy.py</a>
side, this is read in from the flask request args and the results are returned as a JSON string
</p>

<pre>
@app.route("/get_sun_position_ajax")
def get_sun_position_ajax():
    """Get sun position

    This uses AJAX to connect a button click event to do the
    calculation and return the resut as a JSON object.

    a_latitude = flask.request.args.get('latitude', 0, type=float)

    """

    try:

        a_latitude_str = flask.request.args.get('latitude')
        a_longitude_str = flask.request.args.get('longitude')

        a_date_str = flask.request.args.get('date')
        a_time_str = flask.request.args.get('time')
        a_timezone_str = flask.request.args.get('timezone')
        a_dst_str = flask.request.args.get('dst')

        result = calculate_sun_position(a_latitude_str,
                                        a_longitude_str,
                                        a_date_str,
                                        a_time_str,
                                        a_timezone_str,
                                        a_dst_str)

    except (ValueError, RuntimeError) as err:

        app.logger.error(err)
        flask.flash(err)
        return flask.render_template('flashes.html')

    return flask.jsonify(**result)
</pre>

<p>
  The results are then used to update the display.
</p>



{% endblock %}
