{# Observer Location input template #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {

      $( "#oa_datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });

      $("#set_location_button").click(function(e) {
	astronomy.setLocation("oa_latitude", "oa_longitude", e);
      });

      $("#get_sun_position").click(function(e) {

	$.getJSON($SCRIPT_ROOT + "/_get_sun_position",
	  {
	    latitude: $('input[name="oa_latitude"]').val(),
	    longitude: $('input[name="oa_longitude"]').val(),
	    date: $('input[name="oa_date"]').val(),
	    time: $('input[name="oa_time"]').val(),
	    timezone: $('input[name="oa_timezone"]').val()

	  },
	  function(data) {

	    $("#oa_rising").text(data.rising);
	    $("#oa_transit").text(data.transit);
	    $("#oa_setting").text(data.setting);
	    $("#oa_azimuth").text(data.azimuth);
	    $("#oa_altitude").text(data.altitude);

	  });
	return false;
      });


    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<h1>Flask AJAX and jQuery Pattern</h1>

  <table>

    <tr>
      <th></th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>


    <tr>

      <th>
	<button id="set_location_button">set location</button>
      </th>

      <td>
	<input type=text id="oa_latitude" name="oa_latitude">
      </td>

      <td>
	<input type=text id="oa_longitude" name="oa_longitude">
      </td>

      <td>deg:min:sec</td>

    </tr>


    <tr>
      <th></th>
      <th></th>
    </tr>


    <tr>
      <th>Date</th>
      <td>
	<input type=text name=oa_date id="oa_datepicker">
      </td>
      <td>year-mm-dd</td>

    </tr>

    <tr>
      <th>Time</th>
      <td><input type=text name=oa_time value="12:00"></td>
      <td>hr(24):min:sec</td>

    </tr>
    <tr>
      <th>Zone</th>
      <td><input type=text name=oa_timezone value="-8"></td>
      <td>hr</td>
    </tr>

    <tr>

      <th>
	<button id="get_sun_position">get sun position</button>
      </th>


    </tr>

    <tr>
      <th>Azimuth</th>
      <td id="oa_azimuth" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Altitude</th>
      <td id="oa_altitude" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Rising</th>
      <td id="oa_rising" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>


    <tr>
      <th>Transit</th>
      <td id="oa_transit" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

    <tr>
      <th>Setting</th>
      <td id="oa_setting" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

  </table>


<hr>


<p>

<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/observer_ajax.html">
This
</a>
is an example of the
<a href="http://flask.pocoo.org/docs/0.10/patterns/jquery/">flask
AJAX with jQuery pattern</a>.

</p>

<p>
Observer data are read from the observer's input elements by id and sent as a
JSON get query to the get_sun_position page on the server as a button click
event:
</p>

<pre>

	$.getJSON($SCRIPT_ROOT + "/_get_sun_position",
	  {
	    latitude: $('input[name="oa_latitude"]').val(),
	    longitude: $('input[name="oa_longitude"]').val(),
	    date: $('input[name="oa_date"]').val(),
	    time: $('input[name="oa_time"]').val(),
	    timezone: $('input[name="oa_timezone"]').val()

	  },
	  function(data) {
	    $("#oa_rising").text(data.rising);
	    $("#oa_transit").text(data.transit);
	    $("#oa_setting").text(data.setting);
	    $("#oa_azimuth").text(data.azimuth);
	    $("#oa_altitude").text(data.altitude);

	  });


</pre>

<p>
On the
 <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/astronomy.py">astronomy.py</a>
side, this is read in from the flask request args and the results are returned as a JSON string
</p>

<pre>

@app.route("/_get_sun_position")
def get_sun_position():
    """Get sun position

    This uses AJAX to connect a button click event to do the
    calculation and return the resut as a JSON object.

    a_latitude = flask.request.args.get('latitude', 0, type=float)

    """

    a_latitude_str = flask.request.args.get('latitude')
    a_longitude_str = flask.request.args.get('longitude')

    a_date_str = flask.request.args.get('date')
    a_time_str = flask.request.args.get('time')
    a_timezone_str = flask.request.args.get('timezone')

    rising, transit, setting, az_str, alt_str = calculate_sun_position(
        a_latitude_str, a_longitude_str,
        a_date_str, a_time_str, a_timezone_str)

    result = dict()

    result['rising'] = rising
    result['transit'] = transit
    result['setting'] = setting
    result['azimuth'] = az_str
    result['altitude'] = alt_str

    return flask.jsonify(**result)

</pre>

<p>
  The results are then used to update the display.
</p>



{% endblock %}
