{# observer input data table and java scripts #}

<style>

.observerbox {
    margin:   2px;
    border:   1px solid navy;
    padding: 10px;
}

table#observer_location {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

</style>

<script type="text/javascript">

  $(function() {

    $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });


    $("#set_location").click(function(e) {
      {# astronomy.js uses document.getElementById #}
      astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
    });


    $("#set_time").click(function(e) {

      {# TODO pad time with leading 0s #}

      var now = new Date();

      var date_str = now.getFullYear() + "-" + (parseFloat(now.getMonth()) + 1) + "-" + now.getDate();
      $("#_date").val(date_str);

      var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
      $("#_time").val(time_str);

    });


    $("#_longitude").change(function() {
      var timezone = Math.floor((parseFloat($("#_longitude").val()) + 7.5) / 15.0);
      $("#_timezone").val(timezone);
    });

  }); {# end jquery init function #}

</script>

<div class="observerbox">

  <div>

    <h2>Observer's Location</h2>

    <p class="twocolumn">
      Enter the observer's location in space and time. Timezone is
      estimated from the longitude, but should be adjusted as
      needed. Fractional values, like India's UTC+5:30, are supported
      as decimals, e.g. 5.5.
    </p>

  </div>

  <table id="observer_location">

    <tr>

      <td>
	<button type="button" id="set_location">Current Location</button>
      </td>

      <th>Latitude</th>

      <td>
	<input type="text" id="_latitude" name="latitude">
      </td>

      <td>deg:min:sec</td>

    </tr>

    <tr>

      <td>
      </td>

      <th>Longitude</th>

      <td>
	<input type="text" id="_longitude" name="longitude">
      </td>

      <td>deg:min:sec</td>

    </tr>

    <tr>
      <td></td>

      <th>Date</th>

      <td>
	<input type="text" id="_date" name="date"> {# id needed for date picker, name for form #}
      </td>
      <td>year-mm-dd</td>
    </tr>

    <tr>

      <td>
	<button type="button" id="set_time">Current Time</button>
      </td>

      <th>Local Time</th>
      <td><input type="text" id="_time" name="time" value="12:00"></td>
      <td>hr:min:sec</td>
    </tr>

    <tr>
      <td></td>

      <th>Time Zone</th>
      <td>
	<input type="text" id="_timezone" name="timezone" value="0">
      </td>
      <td>hr</td>

    </tr>

    <tr>
      <td></td>
      <th>Daylight Savings</th>
      <td>
	<input type="checkbox" id="_dst" name="dst">
      </td>
    </tr>


  </table>

</div>
