{# Observer Location input template #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {

	$("#set_location_button").click(function(e) {

	    console.log("observer_map set location button event: " + e);

	    astronomy.setLocation("obsmap_latitude", "obsmap_longitude", e);

	});

	$("#get_sun_position").click(function(e) {

	    console.log("observer_map get sun button event: " + e);

	    $.getJSON($SCRIPT_ROOT + "/_get_sun_position",
                {
                    latitude: $('input[name="obsmap_latitude"]').val(),
                    longitude: $('input[name="obsmap_longitude"]').val(),
                },
                function(data) {
                    $("#result").text(data.result);
                });
             return false;
	});


	$( "#observermap_datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });



    });



  </script>

{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<h1>Observer Location</h1>




<button id="set_location_button">set location</button>

<button id="get_sun_position">get sun position</button>


  <table id="observer">

    <tr>
      <th></th><th>year-mm-dd</th><th></th><th>hr:min:sec</th>
    </tr>

    <tr>
      <th>Date:</th>
      <td><input type=text name=obs_date id="observermap_datepicker"></td>

      <th>Time:</th>
      <td><input type=text name=obs_time></td>

      <th>Zone:</th>
      <td><input type=text name=a_timezone style="width:5em"></td>
    </tr>

    <tr>
      <th></th><th>deg:min:sec</th>
    </tr>

    <tr>
      <th>Latitude:</th>
      <td><input type=text id="obsmap_latitude" name=obsmap_latitude></td>
    </tr>

    <tr>
      <th>Longitude:</th>
      <td><input type=text id="obsmap_longitude" name=obsmap_longitude></td>
    </tr>


    <tr>
      <th>Result:</th>
      <td><span id="result">?</span></td>
    </tr>



  </table>







{% endblock %}
