{# observer input data table and java scripts #}

<script type="text/javascript" src="{{ url_for('static', filename='aai.js') }}"></script>

<style>

.observer_box {
    margin:   2px;
    border:   1px solid navy;
    padding: 10px;

    background-color: black;

}

.observer.location {
    background-color: lightgreen;
}

.observer.input.location {
    background-color: lightgreen;
}



.observer.datetime {
    background-color: khaki;
}


.observer.input.datetime {
    background-color: khaki;
}



</style>

<script type="text/javascript">

  $(function() {

    {# ----- set date ----- #}

    $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });

    {# ----- set location ----- #}

    $("#set_location").click(function(e) {
      {# aai.js uses document.getElementById #}
      aai.setLocation("_latitude", "_longitude", "_timezone");
    });


    {# ----- set time ----- #}

    $("#set_time").click(function(e) {
      let now = aai.getCurrentDateTime()
      $("#_date").val(now.date_str);
      $("#_time").val(now.time_str);
    });

    {# ----- set timezone from longitude ----- #}

    $("#_longitude").change(function() {
      aai.setTimezoneFromLocation("_longitude", "_timezone");
    });


    $("#show_help").click(function(e) {

	var help_message = [
	    "Degrees, and optional minutes and seconds are accepted as a ",
	    "time format with : between each element, e.g. 37:47:30 instead ",
	    "of 37\u00b0 47\u2032 30\u2033 for San Francisco's latitude. ",
	    "The timezone, in hours, is estimated from the longitude, but ",
	    "should be adjusted as needed."].join("");

	alert(help_message);

    });



  }); {# end jquery init function #}

</script>

<div class="observer_box">


  <h2 align="center">Observer's Location</h2>

  <br>

  <div align="center">

    <table>

      <tr class="observer location">

	<td rowspan="3" >
	  <button type="button" class="observer buttons" id="set_location"  >Current Location</button>
	</td>

	<th>Latitude</th>

	<td>
	  <input type="text" class="observer input location" id="_latitude" name="latitude">
	</td>

	<td>deg[:min[:sec]]</td>

      </tr>

      <tr class="observer location">

	<th>Longitude</th>

	<td>
	  <input type="text" class="observer input location" id="_longitude" name="longitude">
	</td>

	<td>deg[:min[:sec]]</td>

      </tr>

      <tr class="observer location">

	<th>Time Zone</th>
	<td>
	  <input type="text" class="observer input location" id="_timezone" name="timezone" value="0">
	</td>
	<td>hr[:mm]</td>

      </tr>

      <tr class="observer datetime">
	<td rowspan="3" >
	  <button type="button" class="observer buttons" id="set_time">Current Time</button>
	</td>

	<th>Date</th>

	<td>
	  <input type="text" class="observer input datetime" id="_date" name="date"> {# id needed for date picker, name for form #}
	</td>
	<td>year-mm-dd</td>
      </tr>

      <tr class="observer datetime">

	<th>Local Time</th>
	<td><input type="text" class="observer input datetime" id="_time" name="time" value="12:00"></td>
	<td>hr[:min[:sec]]</td>
      </tr>

      <tr class="observer datetime">

	<th>DST</th>

	<td align="center">
	  <input type="checkbox" id="_dst" name="dst" >
	</td>

	<td>
	  daylight saving time
	</td>

      </tr>

    </table>
  </div>

  <br>

  <div id="time_controls">

    <h2 align="center">Time Controls</h2>

    <br>

    <table id="time_table" align="center">

      <tr>
	<td>
	  <button class="observer buttons timeshift" id="get_prev_day" title="Previous Day">&laquo;</button>
	</td>

	<td>
	  <button class="observer buttons timeshift" id="get_prev_hour" title="Previous Hour">&lt;</button>
	</td>

	<td>
	  <button class="observer buttons timeshift" id="get_current_time" title="Update Plot">&#x21BB;</button>
	</td>

	<td>
	  <button class="observer buttons timeshift" id="get_next_hour" title="Next Hour">&gt;</button>
	</td>

	<td>
	  <button class="observer buttons timeshift" id="get_next_day" title="Next Day">&raquo;</button>
	</td>

      </tr>

    </table>

  </div>

</div>
