{# observer input data table and java scripts #}

<style>

.observerbox {
    margin:   2px;
    border:   1px solid navy;
    padding: 10px;
}

table#observer_location {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

/* ----------------------- */
/* ----- date picker ----- */
/* ----------------------- */

.ui-datepicker {

    background: #f7f7f7;
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);

}

.ui-datepicker-header {
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;

}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

</style>

<script type="text/javascript">

  $(function() {

    $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });


    $("#set_location").click(function(e) {
      {# astronomy.js uses document.getElementById #}
      astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
    });


    $("#set_time").click(function(e) {

      {# TODO pad time with leading 0s #}

      var now = new Date();

      var date_str = now.getFullYear() + "-" + (parseFloat(now.getMonth()) + 1) + "-" + now.getDate();
      $("#_date").val(date_str);

      var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
      $("#_time").val(time_str);

    });


    $("#_longitude").change(function() {
      var timezone = Math.floor((parseFloat($("#_longitude").val()) + 7.5) / 15.0);
      $("#_timezone").val(timezone);
    });


    $("#show_help").click(function(e) {

        var help_message = [
            "Degrees, and optional minutes and seconds are accepted as a ",
            "time format with : between each element, e.g. 37:47:30 instead ",
            "of 37\u00b0 47\u2032 30\u2033 for San Francisco's latitude. ",
            "The timezone, in hours, is estimated from the longitude, but ",
            "should be adjusted as needed."].join("");

        alert(help_message);

    });



  }); {# end jquery init function #}

</script>

<div class="observerbox">


  <h2>Observer's Location</h2>

  <table id="observer_location">

    <tr>

      <td>
        <button type="button" id="set_location">Current Location</button>
      </td>

      <th>Latitude</th>

      <td>
        <input type="text" id="_latitude" name="latitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>

    <tr>

      <td>
      </td>

      <th>Longitude</th>

      <td>
        <input type="text" id="_longitude" name="longitude">
      </td>

      <td>deg[:min[:sec]]</td>

    </tr>

    <tr>
      <td></td>

      <th>Date</th>

      <td>
        <input type="text" id="_date" name="date"> {# id needed for date picker, name for form #}
      </td>
      <td>year-mm-dd</td>
    </tr>

    <tr>

      <td>
        <button type="button" id="set_time">Current Time</button>
      </td>

      <th>Local Time</th>
      <td><input type="text" id="_time" name="time" value="12:00"></td>
      <td>hr[:min[:sec]]</td>
    </tr>

    <tr>
      <td></td>

      <th>Time Zone</th>
      <td>
        <input type="text" id="_timezone" name="timezone" value="0">
      </td>
      <td>hr</td>

    </tr>

    <tr>

      <td>
        <button type="button" id="show_help">Help</button>
      </td>

      <th>Daylight Savings</th>

      <td>
        <input type="checkbox" id="_dst" name="dst">
      </td>
    </tr>

  </table>

</div>
