{# AAI solar altitude chart #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# -------------------- #}
    {# ----- init map ----- #}
    {# -------------------- #}


    {# ----- draw chart ----- #}


    google.charts.load('current', {'packages':['corechart']});

    function updateSunChart(sun_position_data) {

	if (sun_position_data.errors.length > 0) {

	    $("#rising").text("TBD");
	    $("#transit").text("TBD");
	    $("#setting").text("TBD");
	    $("#azimuth").text("TBD");
	    $("#altitude").text("TBD");

	    alert("Errors: " + sun_position_data.errors.join(", "));

	} else {

	    $("#azimuth").text(sun_position_data.sun_marker_azimuth);
	    $("#altitude").text(sun_position_data.sun_marker_altitude);

	    {# adjust for DST #}

	    let rising_datetime = {date_str: $('input[name="date"]').val(),
				   time_str: sun_position_data.rising,
				   timezone_str: $('input[name="timezone"]').val()};

	    let transit_datetime = {date_str: $('input[name="date"]').val(),
				    time_str: sun_position_data.transit,
				    timezone_str: $('input[name="timezone"]').val()};

	    let setting_datetime = {date_str: $('input[name="date"]').val(),
				    time_str: sun_position_data.setting,
				    timezone_str: $('input[name="timezone"]').val()};


	    if ($("#_dst").is(':checked')) {

		rising_datetime = aai.ST2DST(rising_datetime.date_str, rising_datetime.time_str, rising_datetime.timezone_str);
		transit_datetime = aai.ST2DST(transit_datetime.date_str, transit_datetime.time_str, transit_datetime.timezone_str);
		setting_datetime = aai.ST2DST(setting_datetime.date_str, setting_datetime.time_str, setting_datetime.timezone_str);

		$("#rising_dst").text('DST');
		$("#transit_dst").text('DST');
		$("#setting_dst").text('DST');

	    } else {

		$("#rising_dst").text('ST');
		$("#transit_dst").text('ST');
		$("#setting_dst").text('ST');

	    };

	    $("#rising").text(rising_datetime.time_str);
	    $("#transit").text(transit_datetime.time_str);
	    $("#setting").text(setting_datetime.time_str);


	    drawSunChart(sun_position_data);
	};

    }; {# end updateSunChart(sun_position_data) #}


    function drawSunChart(sun_position_data) {

	{# ----- formatting for google chart ----- #}
	var sun_plot_data = [['time',
			      'Vernal Equinox',
			      'Summer Solstice',
			      'Autumnal Equinox',
			      'Winter Solstice',
			      sun_position_data.current_date,
			      {'type': 'string', 'role': 'style'}]];

	{# ----- special format for sun marker ----- #}

	for (var i = 0; i < sun_position_data.altitude_data_24h.length - 1; i++) {

	    var plot_record = sun_position_data.altitude_data_24h[i];
	    var next_plot_record = sun_position_data.altitude_data_24h[i+1];

	    if (sun_position_data.sun_marker_time == plot_record[0]) {

		plot_record.push('point { size: 18; shape-type: circle; fill-color: #FFD700; }');

	    } else if (sun_position_data.sun_marker_time > plot_record[0] &&
		       sun_position_data.sun_marker_time < next_plot_record[0]) {

		plot_record.push('point { size: 18; shape-type: circle; fill-color: #FFD700; }');

	    } else if (i == sun_position_data.altitude_data_24h.length - 1 &&
		       sun_position_data.sun_marker_time == next_plot_record[0]) {

		plot_record.push('point { size: 18; shape-type: circle; fill-color: #FFD700; }');

	    } else if (sun_position_data.sun_marker_time > next_plot_record[0]) {

		plot_record.push(null);

	    } else {

		plot_record.push(null);

	    }



	    if ($("#_dst").is(':checked')) {

		plot_record[0] += 1.0;
		sun_plot_data.push(plot_record);

	    } else {

		sun_plot_data.push(plot_record);

	    };


	}

	var altitudeVtime_chart = new google.visualization.LineChart(
	    document.getElementById('altitudeVtime'));

	var altitude_table = google.visualization.arrayToDataTable(sun_plot_data);

	if ($("#_dst").is(':checked')) {
	    var altitude_view = getSunChartView(altitude_table, "Altitude over time for one day", "hour after local 1 am ");

	} else {
	    var altitude_view = getSunChartView(altitude_table, "Altitude over time for one day", "hour after local midnight");
	};

	altitudeVtime_chart.draw(altitude_view.data, altitude_view.options);

	{# ----- make toggles active ----- #}

	$("#_vernal_equinox_cb").change(function() {
	  var altitude_view = getSunChartView(altitude_table);
	  altitudeVtime_chart.draw(altitude_view.data, altitude_view.options);
	});

	$("#_summer_solstice_cb").change(function() {
	  var altitude_view = getSunChartView(altitude_table);
	  altitudeVtime_chart.draw(altitude_view.data, altitude_view.options);
	});

	$("#_autumnal_equinox_cb").change(function() {
	  var altitude_view = getSunChartView(altitude_table);
	  altitudeVtime_chart.draw(altitude_view.data, altitude_view.options);
	});

	$("#_winter_solstice_cb").change(function() {
	  var altitude_view = getSunChartView(altitude_table);
	  altitudeVtime_chart.draw(altitude_view.data, altitude_view.options);
	});


    }; {# end drawSunChart(sun_position_data) #}


    function getSunChartView (data_table, chart_title, hAxis_title) {

	var view_data = {};

	var current_color = "gold";
	var vernal_color = "green";
	var summer_color = "red";
	var autumnal_color = "orange";
	var winter_color = "cyan";


	var options = {

	    legend: "none",

	    chartArea: {left: "10%", top: "10%", width:"90%", height:"80%"},

	    title: chart_title,

	    hAxis: { title: hAxis_title},
	    vAxis: { title: "altitude in degrees above the horizon", minValue: -100, maxValue: 100},

	    series: {
		0: { lineDashStyle: [] }
	    },

	    colors: [current_color],

	    pointSize: 1,
	    dataOpacity: 0.7

	};


	var data = new google.visualization.DataView(data_table);

	var hides = [];
	var line_count = 0; {# assumes order ve, ss, ae, ws, current time #}

	if ($("#_vernal_equinox_cb").is(':checked')) {
	    options.series[line_count++] = { color: vernal_color, lineDashStyle: [4, 2] };
	} else {
	    hides.push(1);
	};


	if ($("#_summer_solstice_cb").is(':checked')) {
	    options.series[line_count++] = { color: summer_color, lineDashStyle: [8, 4] };
	} else {
	    hides.push(2);
	};


	if ($("#_autumnal_equinox_cb").is(':checked')) {
	    options.series[line_count++] = { color: autumnal_color, lineDashStyle: [16, 4] };
	} else {
	    hides.push(3);
	};


	if ($("#_winter_solstice_cb").is(':checked')) {
	    options.series[line_count++] = { color: winter_color, lineDashStyle: [32, 4] };
	} else {
	    hides.push(4);
	};

	data.hideColumns(hides);

	view_data['data'] = data;
	view_data['options'] = options;

	return view_data;

    };


    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

	{# ------------------------- #}
	{# ----- time controls ----- #}
	{# ------------------------- #}


	$("#get_current_time").click(function(e) {

	    try {
		var current_time = aai.standardTime($('input[name="date"]').val(),
						    $('input[name="time"]').val(),
						    $('input[name="timezone"]').val(),
						    $("#_dst").is(':checked'));
	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: current_time.date_str,
		time: current_time.time_str,
		timezone: current_time.timezone_str

	    }, function(sun_position) {
		updateSunChart(sun_position);
	    }); {# end getJSON #}


	}); {# end get_current_time click #}


	$("#get_next_hour").click(function(e) {

	    try {
		var standard_time_nh = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));
		var next_hour = aai.changeTime(standard_time_nh.date_str,
					       standard_time_nh.time_str,
					       standard_time_nh.timezone_str,
					       60*60);

		if ($("#_dst").is(':checked')) {
		    var dst_nh = aai.ST2DST(next_hour.date_str,
					    next_hour.time_str,
					    next_hour.timezone_str);

		    $('input[name="date"]').val(dst_nh.date_str);
		    $('input[name="time"]').val(dst_nh.time_str);

		} else {

		    $('input[name="date"]').val(next_hour.date_str);
		    $('input[name="time"]').val(next_hour.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(sun_position) {
		updateSunChart(sun_position);

	    }); {# end getJSON #}


	}); {# end get_next_hour click #}


	$("#get_next_day").click(function(e) {

	    try {
		var standard_time_nd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var next_day = aai.changeTime(standard_time_nd.date_str,
					      standard_time_nd.time_str,
					      standard_time_nd.timezone_str,
					      24*60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_nd = aai.ST2DST(next_day.date_str,
					    next_day.time_str,
					    next_day.timezone_str);

		    $('input[name="date"]').val(dst_nd.date_str);
		    $('input[name="time"]').val(dst_nd.time_str);


		} else {

		    $('input[name="date"]').val(next_day.date_str);
		    $('input[name="time"]').val(next_day.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(sun_position) {
		updateSunChart(sun_position);
	    }); {# end getJSON #}


	}); {# end get_next_day click #}


	$("#get_prev_hour").click(function(e) {

	    try {
		var standard_time_ph = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var prev_hour = aai.changeTime(standard_time_ph.date_str,
					       standard_time_ph.time_str,
					       standard_time_ph.timezone_str,
					       -60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_ph = aai.ST2DST(prev_hour.date_str,
					    prev_hour.time_str,
					    prev_hour.timezone_str);

		    $('input[name="date"]').val(dst_ph.date_str);
		    $('input[name="time"]').val(dst_ph.time_str);


		} else {

		    $('input[name="date"]').val(prev_hour.date_str);
		    $('input[name="time"]').val(prev_hour.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }


	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(sun_position) {
		updateSunChart(sun_position);
	    }); {# end getJSON #}


	}); {# end get_prev_hour click #}


	$("#get_prev_day").click(function(e) {

	    try {
		var standard_time_pd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		var prev_day = aai.changeTime(standard_time_pd.date_str,
					      standard_time_pd.time_str,
					      standard_time_pd.timezone_str,
					      -24*60*60);

		if ($("#_dst").is(':checked')) {

		    var dst_pd = aai.ST2DST(prev_day.date_str,
					    prev_day.time_str,
					    prev_day.timezone_str);

		    $('input[name="date"]').val(dst_pd.date_str);
		    $('input[name="time"]').val(dst_pd.time_str);


		} else {

		    $('input[name="date"]').val(prev_day.date_str);
		    $('input[name="time"]').val(prev_day.time_str);

		}

	    } catch (err) {
		alert(err);
		return false;
	    }

	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude", {
		latitude: $('input[name="latitude"]').val(),
		longitude: $('input[name="longitude"]').val(),
		date: $('input[name="date"]').val(),
		time: $('input[name="time"]').val(),
		timezone: $('input[name="timezone"]').val()

	    }, function(sun_position) {
		updateSunChart(sun_position);
	    }); {# end getJSON #}


	}); {# end get_prev_day click #}


	{# ------------------- #}
	{# ----- presets ----- #}
	{# ------------------- #}


	$("#get_midnight_sun").click(function(e) {

	    $('input[name="latitude"]').val('66:33');
	    $('input[name="longitude"]').val('00:00');

	    $('input[name="date"]').val('2018-06-21');
	    $('input[name="time"]').val('12:00:00');
	    $('input[name="timezone"]').val('00:00');

	    $('input[name="dst"]').removeAttr("checked");

	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude",
		{
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()
		},
		function(sun_position) {
		    updateSunChart(sun_position);

	    }); {# end getJSON #}

	    return false;

	}); {# end get_midnight_sun click #}


	$("#get_darkness_at_noon").click(function(e) {

	    $('input[name="latitude"]').val('66:33');
	    $('input[name="longitude"]').val('00:00');

	    $('input[name="date"]').val('2018-12-21');
	    $('input[name="time"]').val('12:00:00');
	    $('input[name="timezone"]').val('00:00');

	    $('input[name="dst"]').removeAttr("checked");

	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude",
		{
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()
		},
		function(sun_position) {
		    updateSunChart(sun_position);

	    }); {# end getJSON #}

	    return false;

	}); {# end get_darkness_at_noon click #}


	$("#get_no_shadow_at_noon").click(function(e) {

	    $('input[name="latitude"]').val('23:05');
	    $('input[name="longitude"]').val('32:54');

	    $('input[name="date"]').val('2018-06-21');
	    $('input[name="time"]').val('12:00:00');
	    $('input[name="timezone"]').val('+02:00');

	    $('input[name="dst"]').removeAttr("checked");

	    $.getJSON($SCRIPT_ROOT + "/api/v1/solar_daily_altitude",
		{
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()
		},
		function(sun_position) {
		    updateSunChart(sun_position);

	    }); {# end getJSON #}

	    return false;

	}); {# end get_no_shadow_at_noon click #}



    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %}Daily Solar Altitude{% endblock %}

{% block content %}

<style>

.linechart {
    width: 700px;
    height: 400px;
}

table#sun_chart_legend {
    width: 5em;
}

#_vernal_equinox_txt {
    color: green;
}

#_summer_solstice_txt {
    color: red;
}

#_autumnal_equinox_txt {
    color: orange;
}

#_winter_solstice_txt {
    color: cyan;
}


button#get_solar_daily_altitude {

    text-align: center;

    font-size: 100%;
    font-weight: bold;

    margin: 0 auto;
    display: block;

    width: 100px;
    height: 100px;

    border-radius: 50%;

    color:red;
    background: #ffD700;
}


</style>



<h1>Daily Solar Altitude</h1>

<br>

<div class="twocolumn">

    This shows the
    sun's <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">altitude</a>
    over the current day starting at local midnight. The points where
    the altitude crosses the zero line indicates sun rise and sun set
    (not adjusted for atmospheric refraction). The distance between
    them is the length of the day.  The solstice lines indicate the
    maximum and minimum range of the sun position through out the
    year.

    <p>

    The earth's <a href="https://en.wikipedia.org/wiki/Axial_tilt">axial tilt</a>
    is 23&deg;-ish so a <a href="https://en.wikipedia.org/wiki/Midnight_sun">midnight
      sun</a> happens at an extreme latitude, e.g. near the
    <a href="https://en.wikipedia.org/wiki/Polar_circle">polar
      circle</a>, for example
    <button id="get_midnight_sun">on the summer solstice at 66&deg;N</button>
    Conversly, it is darkness at noon at
    <button id="get_darkness_at_noon">on the winter solstice at 66&deg;N</button>.

    The well that "had no shadow at noon on the solstice"
    <a href="https://en.wikipedia.org/wiki/Eratosthenes#Measurement_of_the_Earth.27s_circumference">
      Eratosthenes uses to calculate the earth's circumference
    </a>
    <button id="get_no_shadow_at_noon">is 23&deg;N and on the summer solstice</button>.


</div>

<br>

{% include "observer_location.html" %}

<br>

<table>

  <tr>

    <td>
      <div id="altitudeVtime" class="linechart"></div>
    </td>

    <td>

      <table id="sun_chart_legend">

	<tr>

	  <td>
	    <input type="checkbox" id="_vernal_equinox_cb" name="vernal_equinox_cb">
	  </td>

	  <td id="_vernal_equinox_txt">
	    Vernal Equinox
	  </td>

	</tr>

	<tr>

	  <td>
	    <input type="checkbox" id="_summer_solstice_cb" name="summer_solstice_cb" checked>
	  </td>

	  <td id="_summer_solstice_txt">
	    Summer Solstice
	  </td>

	</tr>

	<tr>

	  <td>
	    <input type="checkbox" id="_autumnal_equinox_cb" name="autumnal_equinox_cb">
	  </td>

	  <td id="_autumnal_equinox_txt">
	    Autumnal Equinox
	  </td>

	</tr>

	<tr>

	  <td>
	    <input type="checkbox" id="_winter_solstice_cb" name="winter_solstice_cb" checked>
	  </td>

	  <td id="_winter_solstice_txt">
	    Winter Solstice
	  </td>

	</tr>


      </table>

    </td>

  </tr>

</table>

<div class="result" align="center">

  <table class="result table">

    <tr class="result horizontal">
      <th>Azimuth</th>
      <td class="result horizontal entry" id="azimuth" align="right">TBD</td>
      <td>deg:min:sec</td>
    </tr>

    <tr class="result horizontal">
      <th>Altitude</th>
      <td class="result horizontal entry" id="altitude" align="right">TBD</td>
      <td>deg:min:sec</td>
    </tr>

    <tr class="result rising">
      <th>Rising</th>
      <td class="result rising entry" id="rising" align="right">TBD</td>
      <td id="rising_dst">ST</td>
    </tr>


    <tr class="result rising">
      <th>Transit</th>
      <td class="result rising entry" id="transit" align="right">TBD</td>
      <td id="transit_dst">ST</td>
    </tr>

    <tr class="result rising">
      <th>Setting</th>
      <td class="result rising entry" id="setting" align="right">TBD</td>
      <td id="setting_dst">ST</td>
    </tr>

  </table>

</div>

{% endblock %}
