{# AAI solar azimuth map #}

{% extends "base.html" %}

{% block title %}Solar Azinuth Map{% endblock %}

{% block content %}

<style>


.aaimap {
    width: 800px;
    height: 600px;
}


</style>



<h1>Solar Azimuth Map</h1>

<br>

<div class="twocolumn">

    This page will take an observer location and time and plot the sun
    rise (green), current position (yellow) and sun set (red) as markers
    on a google map. The most obvious test case is
    <a href="https://en.wikipedia.org/wiki/Stonehenge">Stonehenge</a>.

    <button id="get_stonehenge_summer_azimuth_map">Stonehenge on the
      summer solstice</button> shows the sun rise marker aligns with
    the bearing from the center of the monument to the heel stone.

    <button id="get_stonehenge_winter_azimuth_map">Stonehenge on the
      winter solstice</button> shows the reverse.  (The markers can be
      dragged without changing their bearing.)  My sunrise azimuth is
      49&deg;22' which matches the sun's center; uncorrected sea
      horizon listed
    <a href="http://www.sacred-texts.com/neu/eng/sac/sac15.htm">
      here</a> for latitude 51&deg;

  <p>
    <a href="https://www.nytimes.com/2018/05/28/science/manhattanhenge-dates-time-locations.html?rref=collection%2Fsectioncollection%2Fscience&action=click&contentCollection=science&region=rank&module=package&version=highlights&contentPlacement=2&pgtype=sectionfront">
      Manhattanhenge</a>
    is another example.
    However, the streets are not alligned with the solstice,
    so there are four alignments, two on each side of the solstices.
    <ul>
      <li> <button id="get_manhattenhenge_summer1_azimuth_map">vernal sunset: 2018-05-30</button></li>
      <li> <button id="get_manhattenhenge_summer2_azimuth_map">summer sunset: 2018-07-12</button></li>
      <li> <button id="get_manhattenhenge_winter1_azimuth_map">autumnal sunrise: 2018-12-05</button></li>
      <li> <button id="get_manhattenhenge_winter2_azimuth_map">winter sunrise: 2018-01-08</button></li>
    </ul>

  </p>

</div>

<br>

{% include "observer_location.html" %}


<table align="center">

  <tr>

    <div id="sunRiseSetMap" class="aaimap"></div>

  </tr>

  <tr>
    <td>


      <table id="results_table" align="center">

	<tr>
	  <th></th>
	  <th>azimuth</th>
	  <th>time</th>
	</tr>

	<tr>
	  <th></th>
	  <th>degrees from North</th>
	  <th id="st_or_dst">ST</th>
	</tr>


	<tr>
	  <th>Current</th>
	  <td id="current_azimuth" align="right">TBD</td>
	  <td id="current_time" align="right">TBD</td>

	</tr>

	<tr>
	  <th>Rising</th>
	  <td id="rising_azimuth" align="right">TBD</td>
	  <td id="rising_time" align="right">TBD</td>
	</tr>

	<tr>
	  <th>Transit</th>
	  <td id="transit_azimuth" align="right">TBD</td>
	  <td id="transit_time" align="right">TBD</td>
	</tr>

	<tr>
	  <th>Setting</th>
	  <td id="setting_azimuth" align="right">TBD</td>
	  <td id="setting_time" align="right">TBD</td>

	</tr>


      </table>

    </td>
  </tr>

</table>




{% endblock %}

{% block scripts %}


  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {# -------------------- #}
    {# ----- init map ----- #}
    {# -------------------- #}

    var sazmap;
    var current_azimuth_marker;
    var rising_azimuth_marker;
    var setting_azimuth_marker;

    function initSolarMap() {

      var mapProp = {
	center:new google.maps.LatLng(51.4764838, -0.0051793),
	zoom: 15,
      };

      sazmap = new google.maps.Map(document.getElementById("sunRiseSetMap"), mapProp);

    }; {# end initSolarMap() #}


    function drawSolarMarker(azimuth_marker, sun_position_data, lat_off, lon_off, marker_rotation, marker_color) {

	if (azimuth_marker != null) {
	    azimuth_marker.setMap(null);
	}

	azimuth_marker = new google.maps.Marker({
	    position: {lat: sun_position_data.latitude + lat_off, lng: sun_position_data.longitude + lon_off},
	    icon: {
		path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
		scale: 10,
		rotation: marker_rotation,
		strokeColor: marker_color,
		flat: true,
	    },
	    draggable: true,
	    map: sazmap,
	});

	return azimuth_marker;

    }; {# end drawSolarMarker() #}


    function drawSolarMap(sun_position_data) {

	if (sun_position_data.errors.length > 0) {

	    $("#current_azimuth").text("TBD");
	    $("#current_time").text("TBD");

	    $("#rising_azimuth").text("TBD");
	    $("#rising_time").text("TBD");

	    $("#transit_azimuth").text("TBD");
	    $("#transit_time").text("TBD");

	    $("#setting_azimuth").text("TBD");
	    $("#setting_time").text("TBD");

	    alert("Errors: " + sun_position_data.errors.join(", "));

	} else {

	    $("#current_azimuth").text(sun_position_data.current_azimuth_str);


	    $("#rising_azimuth").text(sun_position_data.rising_azimuth_str);
	    $("#transit_azimuth").text(sun_position_data.transit_azimuth_str);
	    $("#setting_azimuth").text(sun_position_data.setting_azimuth_str);

	    {# adjust for DST #}

	    let current_datetime = {date_str: $('input[name="date"]').val(),
				    time_str: $('input[name="time"]').val(),
				    timezone_str: $('input[name="timezone"]').val()};

	    let rising_datetime = {date_str: $('input[name="date"]').val(),
				   time_str: sun_position_data.rising,
				   timezone_str: $('input[name="timezone"]').val()};

	    let transit_datetime = {date_str: $('input[name="date"]').val(),
				    time_str: sun_position_data.transit,
				    timezone_str: $('input[name="timezone"]').val()};

	    let setting_datetime = {date_str: $('input[name="date"]').val(),
				    time_str: sun_position_data.setting,
				    timezone_str: $('input[name="timezone"]').val()};


	    if ($("#_dst").is(':checked')) {

		current_datetime = aai.ST2DST(current_datetime.date_str, current_datetime.time_str, current_datetime.timezone_str);
		rising_datetime = aai.ST2DST(rising_datetime.date_str, rising_datetime.time_str, rising_datetime.timezone_str);
		transit_datetime = aai.ST2DST(transit_datetime.date_str, transit_datetime.time_str, transit_datetime.timezone_str);
		setting_datetime = aai.ST2DST(setting_datetime.date_str, setting_datetime.time_str, setting_datetime.timezone_str);

		$("#current_dst").text('DST');
		$("#rising_dst").text('DST');
		$("#transit_dst").text('DST');
		$("#setting_dst").text('DST');

	    } else {

		$("#current_dst").text('ST');
		$("#rising_dst").text('ST');
		$("#transit_dst").text('ST');
		$("#setting_dst").text('ST');

	    };

	    $("#current_time").text(current_datetime.time_str);
	    $("#rising_time").text(rising_datetime.time_str);
	    $("#transit_time").text(transit_datetime.time_str);
	    $("#setting_time").text(setting_datetime.time_str);


	    {# TODO adjust markers for DST #}


	    sazmap.setCenter({lat:sun_position_data.latitude, lng:sun_position_data.longitude});

	    current_azimuth_marker = drawSolarMarker(current_azimuth_marker, sun_position_data, -0.005, 0,  sun_position_data.current_azimuth, '#ffD700');
	    rising_azimuth_marker = drawSolarMarker(rising_azimuth_marker,   sun_position_data,  0,  0.005, sun_position_data.rising_azimuth,  '#0F0');
	    setting_azimuth_marker = drawSolarMarker(setting_azimuth_marker, sun_position_data,  0, -0.005, sun_position_data.setting_azimuth, '#F00');

	};

    };


    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {

	{# ------------------------- #}
	{# ----- time controls ----- #}
	{# ------------------------- #}


	$("#get_current_time").click(function(e) {

	    try {

		let current_time = aai.standardTime($('input[name="date"]').val(),
						    $('input[name="time"]').val(),
						    $('input[name="timezone"]').val(),
						    $("#_dst").is(':checked'));

		$.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths", {
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: current_time.date_str,
		    time: current_time.time_str,
		    timezone: current_time.timezone_str

		}, function(sun_position) {

		    drawSolarMap(sun_position);

		}); {# end getJSON #}


	    } catch (err) {
		alert(err);
	    }

	    return false;

	}); {# end get_current_time click #}


	$("#get_next_hour").click(function(e) {


	    try {

		let standard_time_nh = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		let next_hour = aai.changeTime(standard_time_nh.date_str,
					       standard_time_nh.time_str,
					       standard_time_nh.timezone_str,
					       60*60);

		if ($("#_dst").is(':checked')) {

		    let dst_nh = aai.ST2DST(next_hour.date_str,
					    next_hour.time_str,
					    next_hour.timezone_str);

		    $('input[name="date"]').val(dst_nh.date_str);
		    $('input[name="time"]').val(dst_nh.time_str);


		} else {

		    $('input[name="date"]').val(next_hour.date_str);
		    $('input[name="time"]').val(next_hour.time_str);

		}


		$.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths", {
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()

		}, function(sun_position) {

		    drawSolarMap(sun_position);

		}); {# end getJSON #}


	    } catch (err) {
		alert(err);
	    }

	    return false;

	}); {# end get_next_hour click #}


	$("#get_next_day").click(function(e) {


	    try {

		let standard_time_nd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		let next_day = aai.changeTime(standard_time_nd.date_str,
					       standard_time_nd.time_str,
					       standard_time_nd.timezone_str,
					       24*60*60);

		if ($("#_dst").is(':checked')) {

		    let dst_nd = aai.ST2DST(next_day.date_str,
					    next_day.time_str,
					    next_day.timezone_str);

		    $('input[name="date"]').val(dst_nd.date_str);
		    $('input[name="time"]').val(dst_nd.time_str);


		} else {

		    $('input[name="date"]').val(next_day.date_str);
		    $('input[name="time"]').val(next_day.time_str);

		}


		$.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths", {
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()


		}, function(sun_position) {

		    drawSolarMap(sun_position);

		}); {# end getJSON #}


	    } catch (err) {
		alert(err);
	    }

	    return false;

	}); {# end get_next_day click #}


	$("#get_prev_hour").click(function(e) {


	    try {

		let standard_time_ph = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		let prev_hour = aai.changeTime(standard_time_ph.date_str,
					       standard_time_ph.time_str,
					       standard_time_ph.timezone_str,
					       -60*60);

		if ($("#_dst").is(':checked')) {

		    let dst_ph = aai.ST2DST(prev_hour.date_str,
					    prev_hour.time_str,
					    prev_hour.timezone_str);

		    $('input[name="date"]').val(dst_ph.date_str);
		    $('input[name="time"]').val(dst_ph.time_str);


		} else {

		    $('input[name="date"]').val(prev_hour.date_str);
		    $('input[name="time"]').val(prev_hour.time_str);

		}


		$.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths", {
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()

		}, function(sun_position) {

		    drawSolarMap(sun_position);

		}); {# end getJSON #}


	    } catch (err) {
		alert(err);
	    }

	    return false;

	}); {# end get_prev_hour click #}


	$("#get_prev_day").click(function(e) {


	    try {

		let standard_time_pd = aai.standardTime($('input[name="date"]').val(),
							$('input[name="time"]').val(),
							$('input[name="timezone"]').val(),
							$("#_dst").is(':checked'));

		let prev_day = aai.changeTime(standard_time_pd.date_str,
					      standard_time_pd.time_str,
					      standard_time_pd.timezone_str,
					      -24*60*60);

		if ($("#_dst").is(':checked')) {

		    let dst_pd = aai.ST2DST(prev_day.date_str,
					    prev_day.time_str,
					    prev_day.timezone_str);

		    $('input[name="date"]').val(dst_pd.date_str);
		    $('input[name="time"]').val(dst_pd.time_str);


		} else {

		    $('input[name="date"]').val(prev_day.date_str);
		    $('input[name="time"]').val(prev_day.time_str);

		}


		$.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths", {
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()

		}, function(sun_position) {

		    drawSolarMap(sun_position);

		}); {# end getJSON #}


	    } catch (err) {
		alert(err);
	    }

	    return false;

	}); {# end get_prev_day click #}


	{# ------------------- #}
	{# ----- presets ----- #}
	{# ------------------- #}


	$("#get_stonehenge_summer_azimuth_map").click(function(e) {

	    $('input[name="latitude"]').val('51:10:50');
	    $('input[name="longitude"]').val('-1:49:34');

	    $('input[name="date"]').val('2018-06-21');
	    $('input[name="time"]').val('03:52:18');
	    $('input[name="timezone"]').val('00:00');

	    $('input[name="dst"]').removeAttr("checked"); {# TODO set? #}

	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		{
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()
		},
		function(sun_position) {
		    drawSolarMap(sun_position);

	    }); {# end getJSON #}

	    return false;


	}); {# end get_stonehenge_summer_azimuth_map click #}



	$("#get_stonehenge_winter_azimuth_map").click(function(e) {


	    $('input[name="latitude"]').val('51:10:50');
	    $('input[name="longitude"]').val('-1:49:34');

	    $('input[name="date"]').val('2018-12-21');
	    $('input[name="time"]').val('16:02');
	    $('input[name="timezone"]').val('00:00');

	    $('input[name="dst"]').removeAttr("checked");

	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		{
		    latitude: $('input[name="latitude"]').val(),
		    longitude: $('input[name="longitude"]').val(),
		    date: $('input[name="date"]').val(),
		    time: $('input[name="time"]').val(),
		    timezone: $('input[name="timezone"]').val()
		},
		function(sun_position) {
		    drawSolarMap(sun_position);

	    }); {# end getJSON #}

	    return false;


	}); {# end get_stonehenge_summer_azimuth_map click #}


	$("#get_manhattenhenge_summer1_azimuth_map").click(function(e) {

	    $('input[name="latitude"]').val('40.759');
	    $('input[name="longitude"]').val('-73.99');

	    $('input[name="date"]').val('2018-05-30');
	    $('input[name="time"]').val('19:22');
	    $('input[name="timezone"]').val('-05:00');

	    $('input[name="dst"]').removeAttr("checked"); {# TODO set? #}

	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		      {
			  latitude: $('input[name="latitude"]').val(),
			  longitude: $('input[name="longitude"]').val(),
			  date: $('input[name="date"]').val(),
			  time: $('input[name="time"]').val(),
			  timezone: $('input[name="timezone"]').val()
		      },
		      function(sun_position) {

			  drawSolarMap(sun_position);

		      }); {# end getJSON #}

	    return false;

	}); {# end get_manhattenhenge_summer1_azimuth_map click #}


	$("#get_manhattenhenge_summer2_azimuth_map").click(function(e) {

	    $('input[name="latitude"]').val('40.759');
	    $('input[name="longitude"]').val('-73.99');

	    $('input[name="date"]').val('2018-07-12');
	    $('input[name="time"]').val('19:30');
	    $('input[name="timezone"]').val('-05:00');

	    $('input[name="dst"]').removeAttr("checked"); {# TODO set? #}

	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		      {
			  latitude: $('input[name="latitude"]').val(),
			  longitude: $('input[name="longitude"]').val(),
			  date: $('input[name="date"]').val(),
			  time: $('input[name="time"]').val(),
			  timezone: $('input[name="timezone"]').val()
		      },
		      function(sun_position) {

			  drawSolarMap(sun_position);

		      }); {# end getJSON #}

	    return false;

	}); {# end get_manhattenhenge_summer2_azimuth_map click #}



	$("#get_manhattenhenge_winter1_azimuth_map").click(function(e) {

	    $('input[name="latitude"]').val('40.759');
	    $('input[name="longitude"]').val('-73.99');

	    $('input[name="date"]').val('2018-12-05');
	    $('input[name="time"]').val('07:07');
	    $('input[name="timezone"]').val('-05:00');

	    $('input[name="dst"]').removeAttr("checked");


	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		      {
			  latitude: $('input[name="latitude"]').val(),
			  longitude: $('input[name="longitude"]').val(),
			  date: $('input[name="date"]').val(),
			  time: $('input[name="time"]').val(),
			  timezone: $('input[name="timezone"]').val()
		      },
		      function(sun_position) {

			  drawSolarMap(sun_position);

		      }); {# end getJSON #}

	    return false;

	}); {# end get_manhattenhenge_winter1_azimuth_map click #}



	$("#get_manhattenhenge_winter2_azimuth_map").click(function(e) {

	    $('input[name="latitude"]').val('40.759');
	    $('input[name="longitude"]').val('-73.99');

	    $('input[name="date"]').val('2018-01-08');
	    $('input[name="time"]').val('07:20');
	    $('input[name="timezone"]').val('-05:00');

	    $('input[name="dst"]').removeAttr("checked");

	    $.getJSON($SCRIPT_ROOT + "/api/v1/sun_rise_set_azimuths",
		      {
			  latitude: $('input[name="latitude"]').val(),
			  longitude: $('input[name="longitude"]').val(),
			  date: $('input[name="date"]').val(),
			  time: $('input[name="time"]').val(),
			  timezone: $('input[name="timezone"]').val()
		      },
		      function(sun_position) {

			  drawSolarMap(sun_position);

		      }); {# end getJSON #}

	    return false;

	}); {# end get_manhattenhenge_winter2_azimuth_map click #}


    }); {# end ready method #}




  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key={{config['GOOGLEMAPS_KEY']}}&callback=initSolarMap" async defer></script>




{% endblock %}
