{# google chart example #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function() {

      $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });

      $("#set_location").click(function(e) {
        {# astronomy.js uses document.getElementById #}
	astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
      });


      $("#set_time").click(function(e) {

        {# TODO pad time with leading 0s #}

        var now = new Date();

        var date_str = now.getFullYear() + "-" + (parseFloat(now.getMonth()) + 1) +
                       "-" + now.getDate();
        $("#_date").val(date_str);

        var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        $("#_time").val(time_str);
      });


      $("#_longitude").change(function() {
        var timezone = Math.floor((parseFloat($("#_longitude").val()) + 7.5) / 15.0);
        $("#_timezone").val(timezone);
      });


      google.charts.load('current', {'packages':['corechart']});


      function drawChart() {


              var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004',  1000,      400],
                ['2005',  1170,      460],
                ['2006',  660,       1120],
                ['2007',  1030,      540]
              ]);

              var options = {
                title: 'Company Performance',
                curveType: 'function',
                legend: { position: 'bottom' }
              };

              var chart = new google.visualization.LineChart(document.getElementById('sun_chart'));

              chart.draw(data, options);

      }


      $("#get_sun_position").click(function(e) {

	$.getJSON($SCRIPT_ROOT + "/get_sun_position_ajax",
	  {
	    latitude: $('input[name="latitude"]').val(),
	    longitude: $('input[name="longitude"]').val(),
	    date: $('input[name="date"]').val(),
	    time: $('input[name="time"]').val(),
	    timezone: $('input[name="timezone"]').val(),
	    dst: $("#_dst").is(':checked') {# jQuery selector #}

	  },
	  function(data) {

            if ("error" in data) {

              alert("Error: " + data.error);

              $("#rising").text("TBD");
	      $("#transit").text("TBD");
	      $("#setting").text("TBD");
	      $("#azimuth").text("TBD");
	      $("#altitude").text("TBD");

            } else {

              drawChart();


            };

	  });

	return false;

      });


    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<h1>Sun Position (google charts example)</h1>

<div>

  <p>
    Enter the observer's location in space and time and the get sun
    position button will update the current page with the sun's position.
    Timezone is estimated from the longitude, but should be adjusted as
    needed.
  </p>

  <h2>Observer's Location</h2>


  {% include "observer_input.html" %}


  <br>

  <h2>Sun's Position</h2>

  <button id="get_sun_position">get sun position</button>

<div id="sun_chart" style="width: 900px; height: 500px"></div>


<hr>

<div>

</div>


{% endblock %}
