{# flask ajax example #}

{% extends "base.html" %}

{% block scripts %}

<style>

table#results_table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}

</style>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function() {

    $("#get_sun_position").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/get_sun_position_ajax",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked')  {# jquery selector: resoves to 'true' or 'false' #}
      },
      function(data) {

	if ("error" in data) {

	  alert("Error: " + data.error);

	  $("#rising").text("TBD");
	  $("#transit").text("TBD");
	  $("#setting").text("TBD");
	  $("#azimuth").text("TBD");
	  $("#altitude").text("TBD");

	} else {

	  $("#rising").text(data.rising);
	  $("#transit").text(data.transit);
	  $("#setting").text(data.setting);
	  $("#azimuth").text(data.azimuth);
	  $("#altitude").text(data.altitude);
	};

      });

      return false;

    }); {# end click #}

  }); {# end ready method #}

</script>

{% endblock %}

{% block title %} Sun Position (AJAX example) {% endblock %}

{% block content %}

<h1>Sun Position (AJAX example)</h1>

<br>

<div class="twocolumn">

This page is an example of using
<a href="https://en.wikipedia.org/wiki/Ajax_%28programming%29">AJAX</a> to update the page.

The submit button sends a request to the server which returns the result data as a JSON
object which is used to update the sun position information on this page (unlike the
form example which takes you to a new page).

</div>

<br>

{% include "observer_location.html" %}

<br>

<button id="get_sun_position">get sun position</button>

<br>

<div>

  <h2>Sun's Position</h2>

  <br>

    <table id="results_table">


    <tr>
      <th>Azimuth</th>
      <td id="azimuth" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Altitude</th>
      <td id="altitude" colspan="2">TBD</td>
      <td>deg:min:sec (deg)</td>
    </tr>

    <tr>
      <th>Rising</th>
      <td id="rising" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>


    <tr>
      <th>Transit</th>
      <td id="transit" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

    <tr>
      <th>Setting</th>
      <td id="setting" colspan="2">TBD</td>
      <td>ISO8601</td>
    </tr>

  </table>

</div>

<hr>

<div>


  <p class="twocolumn">

    <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/sun_position_ajax.html">
      The source for this page
    </a> is an example of the
    <a href="http://flask.pocoo.org/docs/0.10/patterns/jquery/">flask
      AJAX with jQuery pattern</a>.

    The observer's location data are read from the observer's input
    elements by name and sent as a JSON object to the get_sun_position_ajax
    page on the server as a button click event:
  </p>

  <pre class="code">

    $("#get_sun_position").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/get_sun_position_ajax",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked')  {# jquery selector: resoves to 'true' or 'false' #}
      },
      function(data) {

	if ("error" in data) {

	  alert("Error: " + data.error);

	  $("#rising").text("TBD");
	  $("#transit").text("TBD");
	  $("#setting").text("TBD");
	  $("#azimuth").text("TBD");
	  $("#altitude").text("TBD");

	} else {

	  $("#rising").text(data.rising);
	  $("#transit").text(data.transit);
	  $("#setting").text(data.setting);
	  $("#azimuth").text(data.azimuth);
	  $("#altitude").text(data.altitude);
	};

      });

      return false;

    }); {# end click #}

  </pre>

  <p class="twocolumn">
    On the
    <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/astronomy.py">astronomy.py</a>
    side, this is read in from the flask request args and the results
    are returned as a JSON string.  Note: the checkbox is sent as a
    Boolean result of the checked selector instead of using
    its <i>val()</i> method (see above <i>is(':checked')</i>) and is read
    as a string of 'true' in the request args below.
  </p>

  <pre class="code">

@app.route("/get_sun_position_ajax")
def get_sun_position_ajax():

...

    try:

	# input :checked selector returns 'true' and 'false'
	# val() is 'no' or None
	is_dst = True if flask.request.args.get('dst') == 'true' else False

	result = calculate_sun_position(request_angle('latitude'),
					request_angle('longitude'),
					request_datetime('date',
							 'time',
							 request_float('timezone'),
							 is_dst),
					is_dst)

    except (ValueError, RuntimeError) as err:

	app.logger.error(err)
	result = {'error': str(err)}

    return flask.jsonify(**result)

</pre>

  <p>
    The results are then used to update the display.
  </p>

</div>


{% endblock %}
