{# google chart example #}

{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    {# ----------------- #}
    {# ----- ready ----- #}
    {# ----------------- #}

    $(document).ready(function() {


      {# ----- set date ----- #}

      $( "#_date" ).datepicker({ dateFormat: $.datepicker.ISO_8601 });


      {# ----- set location ----- #}

      $("#set_location").click(function(e) {
	{# astronomy.js uses document.getElementById #}
	astronomy.setLocation("_latitude", "_longitude", "_timezone", e);
      });


      {# ----- set time ----- #}

      $("#set_time").click(function(e) {

	{# TODO pad time with leading 0s #}

	var now = new Date();

	var date_str = now.getFullYear() + "-" + (parseFloat(now.getMonth()) + 1) +
		       "-" + now.getDate();
	$("#_date").val(date_str);

	var time_str = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
	$("#_time").val(time_str);
      });


      {# ----- set timezone from longitude ----- #}

      $("#_longitude").change(function() {
	var timezone = Math.floor((parseFloat($("#_longitude").val()) + 7.5) / 15.0);
	$("#_timezone").val(timezone);
      });


      {# ----- get data ----- #}

      $("#get_sun_position").click(function(e) {

	$.getJSON($SCRIPT_ROOT + "/get_sun_position_chart",
	  {
	    latitude: $('input[name="latitude"]').val(),
	    longitude: $('input[name="longitude"]').val(),
	    date: $('input[name="date"]').val(),
	    time: $('input[name="time"]').val(),
	    timezone: $('input[name="timezone"]').val(),
	    dst: $("#_dst").is(':checked') {# jQuery selector #}

	  },
	  function(sun_position) {

	    if ("error" in sun_position) {

	      alert("Error: " + sun_position.error);

	    } else {

	      drawChart(sun_position);

	    };

	  });

	return false;

      });


      {# ----- draw chart ----- #}

      google.charts.load('current', {'packages':['corechart']});

      function drawChart(sun_position) {

	var altitude_table = google.visualization.arrayToDataTable(sun_position.altitude);

	var options = {

	    "title": "Altitude over time for one day",

	    "hAxis": { "title": "hour"},
	    "vAxis": { "title": "altitude in degrees", "minValue": -100, "maxValue": 100}

	};


	var altitude_view = new google.visualization.DataView(altitude_table);

	altitude_view.hideColumns([2,4]); {# TODO from ui #}

	var chart = new google.visualization.LineChart(document.getElementById('sun_chart'));

	chart.draw(altitude_view, options);

      }


    }); {# end ready method #}


  </script>

{% endblock %}

{% block title %} Astronomical Algorithms Implemented {% endblock %}

{% block content %}

<style>

.page {
    width: 60em;
}

</style>



<h1>Sun Position (google charts example)</h1>

<br>

{% include "observer_location.html" %}

<br>

<button id="get_sun_position">get sun position</button>

<h2>Sun's Position</h2>


<div id="sun_chart" style="width: 900px; height: 500px"></div>



{% endblock %}
