{# flask form example #}

{% extends "base.html" %}

{% block scripts %}

<script type="text/javascript">

    $(function() {

      $("#get_sun_position").click(function(e) {
	document.forms["observer_form"].submit();
      });

    });


</script>


{% endblock %}

{% block title %} Sun Position (html form example) {% endblock %}

{% block content %}

<h1>Sun Position (html form example)</h1>

<br>

<div class="twocolumn">

This page follows from the example in the
<a href="http://flask.pocoo.org/docs/0.10/tutorial/templates/">flask tutorial</a>
for using html forms.

The user fills in the observer's location information, either by
typing in the values or using the buttons.

The submit action sends a request url to the server with parameters
from the input elements on the location form. The server returns a new
page with the results.

To avoid confusion with the location and time buttons inside the
form, add some JavaScript to put the submit
button outside the form and left the form's submit attribute unset.

</div>

<br>

<form name="observer_form" action="{{ url_for('get_sun_position_form') }}">

  {% include "observer_location.html" %}

</form>

<br>

<button id="get_sun_position">get sun position</button>

<br>

<hr>

<div>

<p class="twocolumn">
<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/sun_position_form_in.html">
In the source
</a>
the observer data are read from the input elements form on this page by
name and sent to the sun_position url as the submit action of the form
using the python templating
language <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> like this:
</p>

<pre class="code">

    &lt;form name="observer_form" action="&#123;&#123; url_for('get_sun_position_form') &#125;&#125;"&gt;

      &#123;&#37; include "observer_location.html" &#37;&#125;

    &lt;&#47;form&gt;

</pre>

<p>
And from
<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/observer_location.html">
observer_location.html
</a>
</p>

<pre class="code">

    &lt;input type="text" id="_longitude" name="longitude"&gt;

    et al.

</pre>

<p class="twocolumn">
In the sun_position url, on the
 <a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/astronomy.py">astronomy.py</a>
side, the form data are accessed as key value pairs of strings.
They are converted to numbers and used to calculate the results. These are
passed as keyword arguments to flask.render_template:
</p>

<pre class="code">

@app.route("/get_sun_position_form")
def get_sun_position_form():

    ...

	result = calculate_sun_position(request_angle('latitude'),
					request_angle('longitude'),
					request_datetime('date',
							 'time',
							 request_float('timezone'),
							 is_dst),
					is_dst)

    ...

    return flask.render_template('sun_position_form_out.html', **result)

</pre>

<p>
The results dictionary is populated like this:
</p>

<pre class="code">

    result = dict()
    result['latitude'] = str(a_latitude)
    result['longitude'] = str(a_longitude)
    result['datetime'] = str(a_datetime)
    result['dst'] = is_dst

    result['eot'] = str(SunPosition.EquationOfTime(a_datetime))
    result['obliquity'] = str(EclipticEquatorial.obliquity(a_datetime))


</pre>

<p class="twocolumn">

Inside the
<a href="https://github.com/lrmcfarland/Astronomy/blob/master/www/templates/sun_position_form_out.html">sun
position page</a>, these keyword arguments are accessable via Jinja2
macros to display the results.
</p>

<pre class="code">
      &lt;td&gt;Latitude&lt;/td&gt;&lt;td&gt; &#123;&#123; latitude &#125;&#125; &lt;/td&gt;&lt;td&gt;deg:min:sec&lt;/td&gt;
</pre>


</div>

{% endblock %}
