{# flask ajax example #}

{% extends "base.html" %}

{% block scripts %}

<style>


table#coordinates_table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

</style>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};



  $(function() {

      $("#_dms").change(function() {

	  $.getJSON($SCRIPT_ROOT + "/api/v1/dms2dec", {
	      dms: $('input[name="dms"]').val(),
	  },

	  function(data) {

	      if ("error" in data) {

		  alert("Error: " + data.error);

		  $("#_dec").val("TBD");

	      } else {

		  $("#_dec").val(data.dec);

	      };

	  });

      }); {# end _dms.change #}


      $("#_dec").change(function() {

	  $.getJSON($SCRIPT_ROOT + "/api/v1/dec2dms", {
	      dec: $('input[name="dec"]').val(),
	  },

	  function(data) {

	      if ("error" in data) {

		  alert("Error: " + data.error);

		  $("#_dms").val("TBD");

	      } else {

		  $("#_dms").val(data.dms);

	      };

	  });

      }); {# end _dec.change #}



  }); {# end jquery init function #}





</script>

{% endblock %}

{% block title %} Deg:Min:Sec to Decimal degree Transforms {% endblock %}

{% block content %}

<h1>Transforms</h1>

<br>

<div>


  <h2>Deg:Min:Sec (DMS) to Decimal transforms</h2>
  <p>
    This page transforms coordinates between
    degree/hour:minute:second notation to the decimal equivalent.
  </p>

</div>

<br>

<div class="resultbox">

  <table id="coordinates_table">

    <tr>

      <th align="center">Deg:Min:Sec</th>
      <td></td>
      <th align="center">Decimal Degrees</th>

    </tr>

    <tr>

      <td align="center"><input type="text" name="dms" id="_dms" value="0"></td>
      <td></td>
      <td align="center"><input type="text" name="dec" id="_dec" value="0"></td>

    </tr>


  </table>

</div>


{% endblock %}
