{# flask ajax example #}

{% extends "base.html" %}

{% block scripts %}

<style>


table#eq2hz_table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}


</style>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(function() {

    {# ------------------- #}
    {# ----- changes ----- #}
    {# ------------------- #}


    $("#_RA").change(function() {

      $.getJSON($SCRIPT_ROOT + "/api/v1/radec2azalt", {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	ra: $('input[name="RA"]').val(),
	dec: $('input[name="dec"]').val()

      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_azimuth").val("TBD");
	  $("#_altitude").val("TBD");

	} else {

	  $("#_azimuth").val(data.azimuth);
	  $("#_altitude").val(data.altitude);

	};

      });

    }); {# end _RA.change #}


    $("#_dec").change(function() {

      $.getJSON($SCRIPT_ROOT + "/api/v1/radec2azalt", {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	ra: $('input[name="RA"]').val(),
	dec: $('input[name="dec"]').val()

      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_azimuth").val("TBD");
	  $("#_altitude").val("TBD");

	} else {

	  $("#_azimuth").val(data.azimuth);
	  $("#_altitude").val(data.altitude);

	};

      });

    }); {# end _dec.change #}



    $("#_azimuth").change(function() {

      $.getJSON($SCRIPT_ROOT + "/api/v1/azalt2radec",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	azimuth: $('input[name="azimuth"]').val(),
	altitude: $('input[name="altitude"]').val()


      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_RA").val("TBD");
	  $("#_dec").val("TBD");

	} else {

	  $("#_RA").val(data.ra);
	  $("#_dec").val(data.dec);

	};

      });

    }); {# end _azimuth.change #}


    $("#_altitude").change(function() {

      $.getJSON($SCRIPT_ROOT + "/api/v1/azalt2radec",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	azimuth: $('input[name="azimuth"]').val(),
	altitude: $('input[name="altitude"]').val()


      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_RA").val("TBD");
	  $("#_dec").val("TBD");

	} else {

	  $("#_RA").val(data.ra);
	  $("#_dec").val(data.dec);

	};

      });

    }); {# end _altitude.change #}


  }); {# end function #}



  {# ----------------- #}
  {# ----- ready ----- #}
  {# ----------------- #}


  $(document).ready(function() {


    $("#time_controls").hide();


  }); {# end ready method #}

</script>

{% endblock %}

{% block title %} Transform Observations {% endblock %}

{% block content %}

<h1>Observation Transforms</h1>

<div class="twocolumn">

  This transforms coordinates between
  <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">horizontal</a> (observer),
  <a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">equatorial</a>
  and
  <a href="https://en.wikipedia.org/wiki/Ecliptic_coordinate_system">ecliptic</a>
  coordinate systems.


</div>


<br>


<div id="eq2hz_div">

  {% include "observer_location.html" %}

  <br>

  <h2 align="center">Observation Direction</h2>

  <table id="eq2hz_table">


    <tr bgcolor="lightgreen">
      <th><a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">Horizontal</a></th>
      <th>Azimuth</th>
      <td><input type="text" class="observer_input" name="azimuth" id="_azimuth" value="0"></td>
      <td>degrees</td>
    </tr>

    <tr bgcolor="lightgreen">
      <th></th>
      <th>Altitude</th>
      <td><input type="text" class="observer_input" name="altitude" id="_altitude" value="0"></td>
      <td>degrees</td>

    </tr>



    <tr bgcolor="lightblue">
      <th><a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">Equatorial</a></th>
      <th>Right Ascension</th>
      <td><input type="text" class="observer_input" name="RA" id="_RA" value="0"></td>
      <td>hours</td>

    </tr>

    <tr bgcolor="lightblue">
      <th></th>
      <th>Declination</th>
      <td><input type="text" class="observer_input" name="dec" id="_dec" value="0"></td>
      <td>degrees</td>

    </tr>


    <tr bgcolor="azure">
      <th><a href="https://en.wikipedia.org/wiki/Ecliptic_coordinate_system">Ecliptic</a></th>
      <th>Longitude</th>
      <td><input type="text" class="observer_input" name="longitude" id="_longitude" value="0"></td>
      <td>degrees</td>

    </tr>

    <tr bgcolor="azure">
      <th></th>
      <th>Latitude</th>
      <td><input type="text" class="observer_input" name="latitude" id="_latitude" value="0"></td>
      <td>degrees</td>

    </tr>




  </table>

</div>

{% endblock %}
