{# flask ajax example #}

{% extends "base.html" %}

{% block scripts %}

<style>


table#coordinates_table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

div.rot90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
}

div.rot180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
  transform: rotate(180deg);
}

div.rot270 {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}


</style>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


  $(document).ready(function() {

    $("#time_controls").hide();

    $("#radec2azalt").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/api/v1/radec2azalt",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	ra: $('input[name="RA"]').val(),
	dec: $('input[name="dec"]').val()


      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_azimuth").val("TBD");
	  $("#_altitude").val("TBD");

	} else {

	  $("#_azimuth").val(data.azimuth);
	  $("#_altitude").val(data.altitude);

	};

      });

      return false;

    }); {# end radec2azalt click #}



    $("#azalt2radec").click(function(e) {

      $.getJSON($SCRIPT_ROOT + "/api/v1/azalt2radec",
      {
	latitude: $('input[name="latitude"]').val(),
	longitude: $('input[name="longitude"]').val(),
	date: $('input[name="date"]').val(),
	time: $('input[name="time"]').val(),
	timezone: $('input[name="timezone"]').val(),
	dst: $("#_dst").is(':checked'),

	azimuth: $('input[name="azimuth"]').val(),
	altitude: $('input[name="altitude"]').val()


      },

      function(data) {

	if (data.errors.length > 0) {

	  alert("Error: " + data.errors);

	  $("#_RA").val("TBD");
	  $("#_dec").val("TBD");

	} else {

	  $("#_RA").val(data.ra);
	  $("#_dec").val(data.dec);

	};

      });

      return false;

    }); {# end radec2azalt click #}



  }); {# end ready method #}

</script>

{% endblock %}

{% block title %} Transform Observations {% endblock %}

{% block content %}

<h1>Transform Observation</h1>

<br>

<div class="twocolumn">

  This page transforms coordinates between
  <a href="https://en.wikipedia.org/wiki/Equatorial_coordinate_system">equatorial</a>
  and
  <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">horizontal</a>
  coordinate systems.

  If you know the
  <a href="https://en.wikipedia.org/wiki/Right_ascension">right ascension</a>
  and
  <a href="https://en.wikipedia.org/wiki/Declination">declination</a>
  of your celestial object,
  for example from
  <a href="https://en.wikipedia.org/wiki/Sirius">Sirius' wikipedia page</a>,
  this will calculate the
  <a href="https://en.wikipedia.org/wiki/Azimuth">azimuth</a>
  and
  <a href="https://en.wikipedia.org/wiki/Horizontal_coordinate_system">altitude</a>
  at the observer's location.

  Conversely, given the azimuth and altitude, this will calculate the
  right ascension and declination.

</div>

<br>

{% include "observer_location.html" %}

<br>


<br>

<div class="resultbox">

  <table id="coordinates_table">


    <tr>
      <td></td>

      <td align="center">
	<div class="rot180"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>


      <td></td>

      <td> <button id="radec2azalt">to az/alt</button> </td>

      <td></td>

      <td align="center">
	<div class="rot270"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>


      <td></td>
    </tr>

    <tr>
      <th>Right Ascension</th>
      <td><input type="text" name="RA" id="_RA" value="0"></td>
      <td>hours</td>

      <td></td>

      <th>Azimuth</th>
      <td><input type="text" name="azimuth" id="_azimuth"></td>
      <td>degrees</td>


    </tr>

    <tr>
      <th>Declination</th>
      <td><input type="text" name="dec" id="_dec" value="0"></td>
      <td>degrees</td>

      <td></td>


      <th>Altitude</th>
      <td><input type="text" name="altitude" id="_altitude"></td>
      <td>degrees</td>
    </tr>

    <tr>
      <td></td>


      <td align="center">
	<div class="rot90"><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>

      <td></td>
      <td> <button id="azalt2radec">to ra/dec</button> </td>
      <td></td>

      <td align="center">
	<div><i style="font-size:24px" class="fa">&#x2B90;</i>
	</div>
      </td>


    </tr>


  </table>

</div>

{% endblock %}
