# Ignore these files 

*.gignore

# configuration secrets
www/conf/aai-flask.cfg

# emacs backups
*~

# build output
*.[oa]
pyenv

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# r stuff
Bodies/.RData
Bodies/.Rhistory

# notes
Notes
