# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]
www/pyenv

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# r stuff
Bodies/.RData
Bodies/.Rhistory

# notes
Notes
