# Ignore these files 

*.gignore

# working config
www/config/aai-flask-deployment-config.py

# emacs backups
*~

# build output
*.[oa]
pyenv

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# r stuff
Bodies/.RData
Bodies/.Rhistory

# notes
Notes
